<div class="thrv_wrapper thrv-page-section" style="" data-css="tve-u-15dd57014dc">
<div class="tve-page-section-out"></div>
<div class="tve-page-section-in tve_empty_dropzone" data-css="tve-u-15dd56acc0b"><div class="thrv_wrapper tve_image_caption" data-css="tve-u-15dd56c4c46" data-clear="both" style="" data-float="1"><span class="tve_image_frame" style="width: 100%;"><img class="tve_image wp-image-96" alt="" width="213" height="52" title="bizhomes-logo" data-id="96" src="{tcb_lp_base_url}/css/images/bizhomes-logo.png" style="width: 100%;"></span></div><div class="thrv_wrapper thrv_contentbox_shortcode thrv-content-box" style="" data-css="tve-u-15dd56d0588">
<div class="tve-content-box-background"></div>
<div class="tve-cb tve_empty_dropzone"><div class="thrv_wrapper thrv_icon tcb-icon-display" data-css="tve-u-15dd56ece2e" data-float="1" style=""><svg class="tcb-icon" viewBox="0 0 32 32" data-name="mobilemobile">
<title>mobile</title>
<path d="M23.067 24h-14v-18.667h14zM18.667 28h-5.333v-1.333h5.333zM21.333 1.333h-10.667c-2.267 0-4 1.733-4 4v21.333c0 2.267 1.733 4 4 4h10.667c2.267 0 4-1.733 4-4v-21.333c0-2.267-1.733-4-4-4z"></path>
</svg></div><div class="thrv_wrapper thrv_text_element tve_empty_dropzone" style="" data-css="tve-u-15dd56e376c"><p data-default="Enter your text here..."><strong><span style="color: rgb(0, 140, 217);">Call us:</span><br>555-555-555</strong></p></div></div>
</div><div class="tcb-clear" style="margin-bottom: -20px;"></div></div>
</div><div class="thrv_wrapper thrv-page-section" style="" data-css="tve-u-15ddcc49472">
<div class="tve-page-section-out" data-css="tve-u-15dd571633a"></div>
<div class="tve-page-section-in tve_empty_dropzone" data-css="tve-u-15dd56acc0b"><div class="thrv_wrapper thrv_heading tcb-desktop-hidden" style="" data-css="tve-u-15ddcc4b528"><h1 data-css="tve-u-15ddcc7a20f" style="text-align: center;">Find Your <strong>Dream Home</strong><br>for the <strong>Right Price</strong></h1></div><div class="thrv_wrapper thrv-columns" style="" data-css="tve-u-15dd58424e4"><div class="tcb-flex-row tcb-flex-end tcb-resized tcb--cols--3"><div class="tcb-flex-col" data-css="tve-u-15dd572253c" style=""><div class="tcb-col tve_empty_dropzone"><div class="thrv_wrapper thrv_heading tcb-tablet-hidden tcb-mobile-hidden" style=""><h1 data-css="tve-u-15dd572b04a" style="text-align: right;">Find Your <strong>Dream Home</strong><br>for the <strong>Right Price</strong></h1></div></div></div><div class="tcb-flex-col" data-css="tve-u-15dd5784262" style=""><div class="tcb-col tve_empty_dropzone" style=""><div class="thrv_wrapper thrv_icon tcb-icon-display tcb-mobile-hidden tcb-tablet-hidden" data-css="tve-u-15dd57831a8"><svg class="tcb-icon" viewBox="0 0 27 28" data-name="long-arrow-right">
<title>long-arrow-right</title>
<path d="M27 13.953c0 0.141-0.063 0.281-0.156 0.375l-6 5.531c-0.156 0.141-0.359 0.172-0.547 0.094-0.172-0.078-0.297-0.25-0.297-0.453v-3.5h-19.5c-0.281 0-0.5-0.219-0.5-0.5v-3c0-0.281 0.219-0.5 0.5-0.5h19.5v-3.5c0-0.203 0.109-0.375 0.297-0.453s0.391-0.047 0.547 0.078l6 5.469c0.094 0.094 0.156 0.219 0.156 0.359v0z"></path>
</svg></div></div></div><div class="tcb-flex-col" data-css="tve-u-15dd5722550" style=""><div class="tcb-col tve_empty_dropzone" style=""><div class="thrv_wrapper thrv_contentbox_shortcode thrv-content-box" style="" data-css="tve-u-15dd57653be">
<div class="tve-content-box-background" data-css="tve-u-15dd573e4fe"></div>
<div class="tve-cb tve_empty_dropzone"><div class="thrv_wrapper thrv_heading" style="" data-css="tve-u-15dd5792d9f"><h2 data-css="tve-u-15dd5746ef1" data-default="Your Heading Here" style="text-align: center;">Request a Consultation <br>to Find Your Dream Home</h2></div><div class="thrv_wrapper thrv_text_element tve_empty_dropzone" style=""><p data-css="tve-u-15dd5777d5a" data-default="Enter your text here...">We’ll help you find the right house that suits your lifestyle and budget.</p></div><div class="thrv_wrapper thrv_lead_generation" data-connection="api" style=""><input type="hidden" class="tve-lg-err-msg" value="{&quot;email&quot;:&quot;Email address invalid&quot;,&quot;phone&quot;:&quot;Phone number invalid&quot;,&quot;password&quot;:&quot;Password invalid&quot;,&quot;passwordmismatch&quot;:&quot;Password mismatch error&quot;,&quot;required&quot;:&quot;Required field missing&quot;}">
<div class="thrv_lead_generation_container tve_clearfix">
<form action="#" method="post" novalidate="novalidate">
<div class="tve_lead_generated_inputs_container tve_clearfix tve_empty_dropzone">
<div class="tve_lg_input_container tve_lg_input" data-css="tve-u-15dd57b4acf">
<input type="text" data-field="name" name="name" placeholder="Full Name" data-placeholder="Full Name" data-required="0" data-validation="" class="" style="cursor: auto; background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;);">
</div><div class="tve_lg_input_container tve_lg_input" data-css="tve-u-15dd57b4ada">
<input type="email" data-field="email" data-required="1" data-validation="email" name="email" placeholder="Email Address" data-placeholder="Email Address" class="" style="cursor: auto;">
</div>
<div class="tve_lg_input_container tve_lg_input" data-css="tve-u-15dd57b4ae5">
<input type="text" data-field="phone" name="phone" placeholder="Phone Number" data-placeholder="Phone Number" data-required="0" data-validation="" class="" style="">
</div><div class="tve_lg_input_container tve_submit_container tve_lg_submit" data-css="tve-u-15dd57e3666">
<button type="submit" style=""><span class=""><strong>Get Started Now</strong></span></button>
</div>
</div>
<input type="hidden" name="__tcb_lg_fc" id="__tcb_lg_fc" value="YTowOnt9"></form>
</div>
</div></div>
</div></div></div></div></div></div>
</div><div class="thrv_wrapper thrv-page-section" style="" data-css="tve-u-15dd56adbc9">
<div class="tve-page-section-out" data-css="tve-u-15dd5862684"></div>
<div class="tve-page-section-in tve_empty_dropzone" data-css="tve-u-15dd56acc0b"><div class="thrv_wrapper thrv-columns" style="" data-css="tve-u-15dd583366d"><div class="tcb-flex-row tcb-resized tcb--cols--2"><div class="tcb-flex-col" data-css="tve-u-15dd5814ec5" style=""><div class="tcb-col tve_empty_dropzone" style=""><div class="thrv_wrapper thrv_heading" style=""><h2 data-default="Your Heading Here">Welcome</h2></div><div class="thrv_wrapper thrv-divider" data-style="tve_sep-1" data-thickness="2" data-color="rgb(0, 140, 217)" style="" data-css="tve-u-15dd582b218">
<hr class="tve_sep tve_sep-1">
</div><div class="thrv_wrapper thrv_text_element tve_empty_dropzone" style=""><p data-default="Enter your text here...">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.<br><br>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. himenaeos.</p></div></div></div><div class="tcb-flex-col" data-css="tve-u-15dd5814edd" style=""><div class="tcb-col tve_empty_dropzone"><div class="thrv_wrapper tve_image_caption" data-css="tve-u-15dd584b9de" style=""><span class="tve_image_frame"><img class="tve_image wp-image-95" alt="" width="456" height="305" title="bizhomes-image1" data-id="95" src="{tcb_lp_base_url}/css/images/bizhomes-image1.jpg"></span><div class="wp-caption-text"><em>This can be an image or a video presentation.</em></div></div></div></div></div></div><div class="thrv_wrapper thrv-columns" style="" data-css="tve-u-15ddcc61725"><div class="tcb-flex-row tcb--cols--3 tcb-medium-no-wrap"><div class="tcb-flex-col"><div class="tcb-col tve_empty_dropzone" style="" data-css="tve-u-15dd586ac84"><div class="thrv_wrapper thrv_icon tcb-icon-display" data-css="tve-u-15dd587a3ab"><svg class="tcb-icon" viewBox="0 0 36 28" data-name="graduation-cap">
<title>graduation-cap</title>
<path d="M27.719 13.062l0.281 4.937c0.125 2.203-4.484 4-10 4s-10.125-1.797-10-4l0.281-4.937 8.969 2.828c0.25 0.078 0.5 0.109 0.75 0.109s0.5-0.031 0.75-0.109zM36 8c0 0.219-0.141 0.406-0.344 0.484l-17.5 5.5c-0.063 0.016-0.109 0.016-0.156 0.016s-0.094 0-0.156-0.016l-10.187-3.219c-0.891 0.703-1.516 2.422-1.641 4.531 0.594 0.344 0.984 0.969 0.984 1.703 0 0.703-0.359 1.313-0.906 1.672l0.906 6.766c0.016 0.141-0.031 0.281-0.125 0.391s-0.234 0.172-0.375 0.172h-3c-0.141 0-0.281-0.063-0.375-0.172s-0.141-0.25-0.125-0.391l0.906-6.766c-0.547-0.359-0.906-0.969-0.906-1.672 0-0.75 0.422-1.391 1.016-1.734 0.094-1.828 0.562-3.797 1.531-5.156l-5.203-1.625c-0.203-0.078-0.344-0.266-0.344-0.484s0.141-0.406 0.344-0.484l17.5-5.5c0.063-0.016 0.109-0.016 0.156-0.016s0.094 0 0.156 0.016l17.5 5.5c0.203 0.078 0.344 0.266 0.344 0.484z"></path>
</svg></div><div class="thrv_wrapper thrv_heading" style="" data-css="tve-u-15ddb0bed84"><h3 data-default="Your Heading Here" style="text-align: center;">10 Years Experience</h3></div><div class="thrv_wrapper thrv_text_element tve_empty_dropzone" style="" data-css="tve-u-15ddb0c6369"><p data-css="tve-u-15ddb0c3b94" data-default="Enter your text here..." style="text-align: center;">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem</p></div></div></div><div class="tcb-flex-col"><div class="tcb-col tve_empty_dropzone" style="" data-css="tve-u-15dd586f301"><div class="thrv_wrapper thrv_icon tcb-icon-display" data-css="tve-u-15dd587a3ab"><svg class="tcb-icon" viewBox="0 0 26 28" data-name="star">
<title>star</title>
<path d="M26 10.109c0 0.281-0.203 0.547-0.406 0.75l-5.672 5.531 1.344 7.812c0.016 0.109 0.016 0.203 0.016 0.313 0 0.406-0.187 0.781-0.641 0.781-0.219 0-0.438-0.078-0.625-0.187l-7.016-3.687-7.016 3.687c-0.203 0.109-0.406 0.187-0.625 0.187-0.453 0-0.656-0.375-0.656-0.781 0-0.109 0.016-0.203 0.031-0.313l1.344-7.812-5.688-5.531c-0.187-0.203-0.391-0.469-0.391-0.75 0-0.469 0.484-0.656 0.875-0.719l7.844-1.141 3.516-7.109c0.141-0.297 0.406-0.641 0.766-0.641s0.625 0.344 0.766 0.641l3.516 7.109 7.844 1.141c0.375 0.063 0.875 0.25 0.875 0.719z"></path>
</svg></div><div class="thrv_wrapper thrv_heading" style="" data-css="tve-u-15ddb0bed84"><h3 data-default="Your Heading Here" style="text-align: center;">Complete Service</h3></div><div class="thrv_wrapper thrv_text_element tve_empty_dropzone" style="" data-css="tve-u-15ddb0c6369"><p data-css="tve-u-15ddb0c3b94" data-default="Enter your text here..." style="text-align: center;">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit.</p></div></div></div><div class="tcb-flex-col"><div class="tcb-col tve_empty_dropzone" style="" data-css="tve-u-15dd587064a"><div class="thrv_wrapper thrv_icon tcb-icon-display" data-css="tve-u-15dd587a3ab"><svg class="tcb-icon" viewBox="0 0 32 28" data-name="diamond">
<title>diamond</title>
<path d="M3.313 12l9.734 10.391-4.688-10.391h-5.047zM16 24.063l5.453-12.063h-10.906zM8.406 10l3.187-6h-4.094l-4.5 6h5.406zM18.953 22.391l9.734-10.391h-5.047zM10.672 10h10.656l-3.187-6h-4.281zM23.594 10h5.406l-4.5-6h-4.094zM25.797 2.406l6 8c0.297 0.375 0.266 0.922-0.063 1.281l-15 16c-0.187 0.203-0.453 0.313-0.734 0.313s-0.547-0.109-0.734-0.313l-15-16c-0.328-0.359-0.359-0.906-0.063-1.281l6-8c0.187-0.266 0.484-0.406 0.797-0.406h18c0.313 0 0.609 0.141 0.797 0.406z"></path>
</svg></div><div class="thrv_wrapper thrv_heading" style="" data-css="tve-u-15ddb0bed84"><h3 data-default="Your Heading Here" style="text-align: center;">Best Price Guarantee</h3></div><div class="thrv_wrapper thrv_text_element tve_empty_dropzone" style="" data-css="tve-u-15ddb0c6369"><p data-css="tve-u-15ddb0c3b94" data-default="Enter your text here..." style="text-align: center;">Nam nec tellus a odio tincidunt auctor a ornare odio.</p></div></div></div></div></div><div class="thrv_wrapper thrv_heading" style="" data-css="tve-u-15ddcc62b89"><h2 data-default="Your Heading Here" style="text-align: center;">Property Types in Our Offer</h2></div><div class="thrv_wrapper thrv-divider" data-style="tve_sep-1" data-thickness="2" data-color="rgb(0, 140, 217)" style="" data-css="tve-u-15ddb102ed0">
<hr class="tve_sep tve_sep-1">
</div><div class="thrv_wrapper thrv_contentbox_shortcode thrv-content-box" style="" data-css="tve-u-15ddb110fbf">
<div class="tve-content-box-background" data-css="tve-u-15ddb10b182"></div>
<div class="tve-cb tve_empty_dropzone"><div class="thrv_wrapper thrv_text_element tve_empty_dropzone" style="" data-css="tve-u-15ddb3a8c19"><p data-css="tve-u-15ddb384d71" data-default="Enter your text here..." style="text-align: center;">We’ll Find Your Dream Home in Our Wide Range of Properties</p></div><div class="thrv_wrapper thrv_text_element tve_empty_dropzone" style="" data-css="tve-u-15ddb39eb00"><p data-css="tve-u-15ddcb1713c" data-default="Enter your text here..." style="text-align: center;">Sed non mauris vitae erat consequat auctor Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. ornare odio. eu in elit. himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non</p></div></div>
</div></div>
</div><div class="thrv_wrapper thrv-page-section" style="" data-css="tve-u-15dd56adbc9">
<div class="tve-page-section-out" data-css="tve-u-15ddcb257c7"></div>
<div class="tve-page-section-in tve_empty_dropzone" data-css="tve-u-15dd56acc0b"><div class="thrv_wrapper thrv_heading" style="" data-css="tve-u-15ddcb2e5d1"><h2 data-css="tve-u-15ddcb2905b" data-default="Your Heading Here" style="text-align: center;">Let's Find <strong>Your Dream Home</strong></h2></div><div class="thrv_wrapper thrv-divider" data-style="tve_sep-1" data-thickness="2" data-color="rgb(255, 255, 255)" style="" data-css="tve-u-15ddcb2ae2e">
<hr class="tve_sep tve_sep-1">
</div><div class="thrv_wrapper thrv_text_element tve_empty_dropzone" style="" data-css="tve-u-15ddcb59af9"><p data-css="tve-u-15ddcb587be" data-default="Enter your text here..." style="text-align: center;">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p></div><div class="thrv_wrapper thrv-button tve_ea_thrive_lightbox" data-css="tve-u-15ddcb670ba">
<a href="" class="tcb-button-link tve_evt_manager_listen tve_et_click" data-css="tve-u-15ddcb86ad6" data-tcb-events="__TCB_EVENT_[{&quot;config&quot;:{&quot;l_anim&quot;:&quot;slide_top&quot;,&quot;l_id&quot;:&quot;3505&quot;},&quot;a&quot;:&quot;thrive_lightbox&quot;,&quot;t&quot;:&quot;click&quot;}]_TNEVE_BCT__">
<span class="tcb-button-texts"><span class="tcb-button-text thrv-inline-text"><strong>Get Started Now!</strong></span></span>
</a>
</div></div>
</div><div class="thrv_wrapper thrv-page-section" style="" data-css="tve-u-15ddcc8b4ab">
<div class="tve-page-section-out" data-css="tve-u-15ddcb9499d"></div>
<div class="tve-page-section-in tve_empty_dropzone" data-css="tve-u-15dd56acc0b"><div class="thrv_wrapper thrv_heading" style="" data-css="tve-u-15ddcb9b0dd"><h2 data-css="tve-u-15ddcc90158" data-default="Your Heading Here" style="text-align: center;">What Our Customers Have to Say:</h2></div><div class="thrv_wrapper thrv-columns" style="" data-css="tve-u-15ddcc9803b"><div class="tcb-flex-row tcb-resized tcb--cols--2"><div class="tcb-flex-col" data-css="tve-u-15ddcba361f" style=""><div class="tcb-col tve_empty_dropzone" style=""><div class="thrv_wrapper tve_image_caption" data-css="tve-u-15ddcba8398" style=""><span class="tve_image_frame" style="width: 100%;"><img class="tve_image wp-image-253" alt="" width="160" height="160" title="knowhow-person3" data-id="253" src="{tcb_lp_base_url}/css/images/knowhow-person3.png" style="width: 100%;"></span></div></div></div><div class="tcb-flex-col" data-css="tve-u-15ddcba3640" style=""><div class="tcb-col tve_empty_dropzone" style=""><div class="thrv_wrapper thrv_contentbox_shortcode thrv-content-box" style="" data-css="tve-u-15ddcbb38ce">
<div class="tve-content-box-background" data-css="tve-u-15ddcbb59a8"></div>
<div class="tve-cb tve_empty_dropzone"><div class="thrv_wrapper thrv_text_element tve_empty_dropzone" style="" data-css="tve-u-15ddcc20c5d"><p data-css="tve-u-15ddcbf7e60" data-default="Enter your text here..."><em>“Use the best part of the testimonial as a title, here.”</em></p></div><div class="thrv_wrapper thrv_text_element tve_empty_dropzone" style="" data-css="tve-u-15ddcc21637"><p data-default="Enter your text here..."><strong>“Vivamus sit amet lacus eu odio lacinia efficitur venenatis quis tellus. Ut eget lacus velit. Sed egestas diam vel iaculis dapibus. Fusce tortor lorem, fringilla et tortor eu, hendrerit convallis. Pellentesque non facilisis purus, id lorem ipsum ultrices erat.</strong><em><strong>”</strong></em></p></div><div class="thrv_wrapper thrv_text_element tve_empty_dropzone" style=""><p data-default="Enter your text here..."><em><span style="color: rgb(18, 136, 204);">Albert Stewart</span></em></p><p data-default="Enter your text here..."><em>Professional Testimonial Guy</em></p></div></div>
</div></div></div></div></div><div class="thrv_wrapper thrv-columns" style="" data-css="tve-u-15ddcc99c66"><div class="tcb-flex-row tcb-resized tcb--cols--2"><div class="tcb-flex-col" data-css="tve-u-15ddcba361f" style=""><div class="tcb-col tve_empty_dropzone" style=""><div class="thrv_wrapper tve_image_caption" data-css="tve-u-15ddcca1f6f" style=""><span class="tve_image_frame" style="width: 100%;"><img class="tve_image wp-image-252" alt="" width="160" height="160" title="knowhow-person2" data-id="252" src="{tcb_lp_base_url}/css/images/knowhow-person2.png" style="width: 100%;"></span></div></div></div><div class="tcb-flex-col" data-css="tve-u-15ddcba3640" style=""><div class="tcb-col tve_empty_dropzone" style=""><div class="thrv_wrapper thrv_contentbox_shortcode thrv-content-box" style="" data-css="tve-u-15ddcbb38ce">
<div class="tve-content-box-background" data-css="tve-u-15ddcbb59a8"></div>
<div class="tve-cb tve_empty_dropzone"><div class="thrv_wrapper thrv_text_element tve_empty_dropzone" style="" data-css="tve-u-15ddcc20c5d"><p data-css="tve-u-15ddcbf7e60" data-default="Enter your text here..."><em>“Use the best part of the testimonial as a title, here.”</em></p></div><div class="thrv_wrapper thrv_text_element tve_empty_dropzone" style="" data-css="tve-u-15ddcc21637"><p data-default="Enter your text here..."><strong>“Vivamus sit amet lacus eu odio lacinia efficitur venenatis quis tellus. Ut eget lacus velit. Sed egestas diam vel iaculis dapibus. Fusce tortor lorem, fringilla et tortor eu, hendrerit convallis.</strong><em><strong>”</strong></em></p></div><div class="thrv_wrapper thrv_text_element tve_empty_dropzone" style=""><p data-default="Enter your text here..."><em><span style="color: rgb(18, 136, 204);">Jane Doe</span></em></p><p data-default="Enter your text here..."><em>Professional Testimonial Girl</em></p></div></div>
</div></div></div></div></div></div>
</div><div class="thrv_wrapper thrv-page-section" style="" data-css="tve-u-15dd56adbc9">
<div class="tve-page-section-out"></div>
<div class="tve-page-section-in tve_empty_dropzone" data-css="tve-u-15dd56acc0b"><div class="thrv_wrapper thrv_text_element tve_empty_dropzone" style="" data-css="tve-u-15ddccd50f2"><p data-default="Enter your text here..." style="text-align: center;">Copyright 2017 - Company Name</p><p data-default="Enter your text here..." style="text-align: center;"><u>Disclaimer</u> - <u>Contact</u></p></div></div>
</div>