//@import "compass/css3";
//@import "compass/support";
@import "bourbon";
$experimental-support-for-svg: true;
@import "_variables.scss";
@import "_mixins.scss";
@import "focus_areas.scss";
@import "woocommerce_mini_cart.scss";
@import "woocommerce_widgets.scss";

html {
  font-size: 100%;
  height: 100%;
  min-height: 100%;
}
body.bp-t {
  background: #fff !important;
}
body {
  background: #fbfbfb;
  //  display: -webkit-box;
  //  display: -moz-box;
  //  display: -ms-flexbox;
  //  display: -webkit-flex;
  //  display: flex;
  //
  //  -ms-flex-flow: column;
  //  -webkit-flex-flow: column;
  //  flex-flow: column;

  font-family: 'Lato', arial;
  font-size: 16px;
  //
  //  min-height: 100vh;

  //height: 100%;

  margin: 0;
  overflow-x: hidden;
  //  position: relative;
}
.flex-cnt {
  overflow: hidden;
}
html, body {
  overflow-x: hidden;
}
//.divi {
//  border-bottom: 1px solid #D5D5D5;
//  clear: both;
//  display: block;
//  margin-bottom: 10px;
//  position: relative;
//}

div.author-image img {
  width: 60px;
}
.spr {
  height: 25px;
}
.entry-title {
  margin: 0 0 8px 0;
  //  text-transform: uppercase;
}
ins {
  background: #fff9c0;
  text-decoration: none;
}
h1 {
  clear: both;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  word-wrap: break-word;
}
h5.aut {
  margin: 0;
}
h1 {
  margin: 33px 0 16px 0;
}
h2 {
  font-size: $normalSize * 1.875;
  margin: 25px 0 12px 0;
}
h3 {
  font-size: $normalSize * 1.625;
  margin: 22px 0 11px 0;
}
h4 {
  font-size: $normalSize * 1.375;
  margin: 18px 0 9px 0;
}
h5 {
  font-size: $normalSize * 1.125;
  margin: 16px 0 8px 0;
}
h6 {
  font-size: $normalSize * 0.875;
  margin: 14px 0 7px 0;
}
h1, .entry-title {
  font-size: 38px;
  text-transform: uppercase;
}
p {
  line-height: $normalSize * 1.350;
  word-wrap: break-word;
}
pre {
  background: #f5f5f5;
  color: #666;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.4;
  margin: 20px 20px;
  overflow: auto;
  padding: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.alignnone {
  margin: 10px;
}
.aligncenter {
  display: block;
  margin: 10px auto;
}
.alignright {
  float: right;
  margin: 10px 0 10px 20px;
}
.alignleft {
  float: left;
  margin: 10px 20px 10px 0;
}
.lst {
  margin-right: 0;
}
.clM {
  display: none;
}
input[type="submit"] {
  -webkit-appearance: none;
}
#floating_menu {
  width: 100%;
  z-index: 101;
  @include transition(all, 0.2s, linear);
  header {
    @include transition(all, 0.2s, ease-out);
    padding: 9px 0;
  }
  &[data-float='float-fixed'] {
    @include transition(all, 0.2s, linear);
    img, #text_logo {
      @include transition(all, 0.2s, linear);
    }
  }
  #logo {
    img {
      @include transition(max-height, 0.2s, linear);
    }
  }
  &.mff {
    @include transition(all, 0.3s, linear);
    position: fixed;
    opacity: 1;
    visibility: visible;
    .hic, .hif {
      height: 100% !important;
      .tt-dmy {
        display: none;
      }
    }
    .hic {
      #head_wrp {
        position: static;
      }
    }
    &.a60 {
      &.mfd {
        opacity: 0;
        visibility: hidden;
        @include transition(all, 0.3s, linear);
      }
      header {
        @include transition(all, 0.2s, linear);
        padding: 4px 0;
        #logo {
          img {
            @include transition(max-height, 0.2s, linear);
            max-height: 50px;
          }
        }
        .center_logo {
          .phone {
            display: none;
          }
          #logo img {
            max-height: 100px;
          }
        }
        .side_logo {
          .phone {
            .fphr {
              display: none;
            }
          }
        }
      }
    }
  }
}
.tt-dmy {
  //  height: 100%;
  visibility: hidden;
}
header {
  box-shadow: 0 1px 4px #dfdddd;
  background: $white;
  padding: 9px 0;
  .lg {
    display: block;
    &.cen {
      margin: 0 auto;
    }
  }
  .dfm {
    color: #424242;
    display: block;
    padding-bottom: 20px;
    text-align: left;
  }
  .hmn {
    border-radius: 5px;
    background: url($sprite) -178px -5px $main_color;
    display: none;
    height: 26px;
    width: 26px;
  }
  .mff & {
    nav {
      > ul {
        > li {
          padding: 0;
        }
      }
    }
  }
  nav {
    > ul {
      > li {
        &.current_page_item, &.current_menu_item, &.current-menu-item, &.current-page-parent {
          > a {
            @extend .active;
          }
        }
      }
    }
    ul {
      li {
        display: inline-block;
        float: left;
        position: relative;
        a {
          color: $gray;
          display: block;
          padding: 10px;
          &:hover {
            color: $main_color;
          }
          &.active {
            color: $main_color;
            // padding: 9px;
          }
        }
        > ul {
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
          background: $main_color;
          border: 1px solid $white;
          display: none;
          min-width: 200px;
          position: absolute;
          left: -5px;
          top: 40px;
          opacity: .95;
          z-index: 4000;
          &:before {
            border-style: solid;
            border-color: transparent transparent $main_color transparent;
            border-width: 4px;
            height: 0;
            content: '';
            position: absolute;
            top: -8px;
            left: 27px;
            width: 0;
          }
          li {
            border-top: 1px solid lighten($main_color, 10%);
            color: $white;
            display: block;
            float: none;
            position: relative;
            z-index: 4000;
            &:first-child {
              border-top: none;
            }
            &.arl {
              > a {
                background-image: url('../images/submenuArrow.png');
                background-repeat: no-repeat;
                background-position: 95% center;
              }
            }
            a {
              @include transition(all, .5s, ease);
              color: $white;
              padding: 20px;
              &:hover {
                box-shadow: 0 0 1px 0 rgba(0, 0, 0, .15);
                background-color: lighten($main_color, 5%);
                color: $white;
                padding-left: 25px;
              }
            }
            ul {
              padding-left: 0;
              top: -1px;
              left: 100%;
              width: 100%;
              &:before {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

// last menu item's dropdown styling
header {
  nav {
    > ul {
      > li {
        &:last-child {
          ul {
            right: 0;
            left: auto;
            li {
              &.arl {
                > a {
                  background-image: url('../images/submenuArrowLeft.png');
                  background-position: 5% center;
                }
              }
              ul {
                right: 100%;
              }
            }
          }
        }
      }
    }
  }
}

header {
  display: block;
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: -.25em;
    vertical-align: bottom;
  }
  #head_wrp {
    display: inline-block;
    vertical-align: bottom;
  }
  #nav_right {
    text-align: left;
  }
  .center_logo {
    #logo, #text_logo {
      float: none;
    }
    #nav_right {
      display: table;
      margin: 0 auto;
      .phone {
        display: table-cell;
        vertical-align: middle;
      }
      nav.right {
        display: table-cell;
        float: none;
        vertical-align: middle;
      }
    }
  }
  .side_logo {
    .h-i {
      display: table;
      width: 100%;
    }
    #logo, #text_logo {
      text-align: left;
    }
    #logo, #text_logo, #nav_right, .phone {
      display: table-cell;
      float: none;
    }
    #logo, #text_logo, .phone {
      vertical-align: middle;
    }
    #nav_right {
      vertical-align: bottom;
    }
  }
}
#logo {
  @include transition(all, 0.5s, ease-in-out);
  img {
    max-width: 200px;
  }
}
#text_logo {
  font-size: 32px;
  line-height: 50px;
}
@each $color in $themeColors {
  #text_logo.#{nth($color, 1)} a {
    color: nth($color, 2);
  }
}
.phone, .phone_mobile {
  color: $white;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  width: 230px;
  z-index: 3;
  &.phr, .phr {
    background: $main_color;
    padding: 10px;
  }
  .apnr, span {
    display: block;
  }
  span {
    font-size: 13px;
    line-height: 22px;
  }
  a {
    color: $white;
    .sAs &, .bSe &, .ftw & {
      color: $white;
      text-decoration: none;
    }
  }
  .apnr {
    font-size: 20px;
    &:before {
      @include fontawesome();
      content: '\f095';
      color: $white;
      display: inline-block;
      margin-right: 5px;
    }
  }
}
.phone_mobile {
  display: none;
}
.phone {
  .mphr {
    display: none;
  }
}
//#nav_right {
//  float: none;
//  display: table-cell;
//  vertical-align: middle;
//}

/*
  header CTA
*/

@media only screen and (min-width: 774px) {
  header ul.menu li {
    &.h-cta {
      margin: 0 5px;
      padding: 0;
      text-align: center;
      > a {
        border-radius: 3px;
        border: 2px solid;
        color: #fff;
        padding: 8px;
        > span {
          display: block;
          font-size: 8px;
        }
      }
    }
  }
}
/*content*/
.brd {
  .bwr {
    padding: 0 20px;
  }
  .wrp {
    box-shadow: 0 0 3px rgba(1, 1, 1, .16);
    box-sizing: border-box;
    background: $white;
    padding: 12px 20px;
  }
  ul {
    list-style-type: none;
    li {
      color: #8c8b8b;
      font-size: $normalSize * .75;
      display: inline;
      span {
        display: inline-block;
        margin: 0 5px;
      }
      a {
        color: $main_color;
      }
      .sel {
        color: #8c8b8b;
      }
    }
  }
}
.brd .no-link {
  color: #8c8b8b;
  text-decoration: none;
  cursor: default;
}
.shw {
  box-shadow: 0 0 3px rgba(1, 1, 1, .16);
  box-sizing: border-box;
  color: $content_gray;
  position: relative;
}
.cnt {
  .awr {
    padding: 20px;
    position: relative;
  }
  .awr {
    &.lnd {
      &.hasf {
        padding: 0;
      }
    }
  }
  .bpd {
    padding: 2% 124px;
    .awr {
      padding: 0;
    }
  }
  h1, .entry-title, .ctb {
    a {
      color: $content_gray;
    }
  }
  a {
    color: $main_color;
    &.rpl, &.btn, &.cmt, &.acm {
      color: $white;
    }
  }
  .pgn {
    a {
      color: lighten($gray, 30%);
    }
  }
  .bSe {
    article {
      box-shadow: 0 0 3px rgba(1, 1, 1, .16);
      box-sizing: border-box;
      background: $white;
      color: $content_gray;
      position: relative;
      &.sticky {
        border: 1px solid $main_color;
      }
    }
  }
  .bSe.left, .bSe.right {
    width: 67.59%;
  }
  .sAs {
    margin-left: 20px;
    width: 30.55%;
    .twr {
      background: #FBFBFB;
      margin: 0 -25px 0 -25px;
      position: relative;
      top: -3px;
      p {
        margin-top: -20px;
      }
    }
    .ttl {
      box-shadow: 1px 4px 6px -6px rgba(1, 1, 1, .16);
      font-weight: bold;
      line-height: $normalSize;
      margin-bottom: 20px;
      position: relative;
      padding-top: 10px;
      top: -2px;
    }
    .awr {
      padding: 20px;
      position: relative;
      &.side_body {
        padding-right: 0;
      }
    }
    .tabs_widget {
      .tabs_content {
        display: none;
      }
      .awr {
        padding: 0 0 20px 0;
      }
      .twr {
        p {
          margin-top: 0;
        }
      }
    }
    .tabs_widget {
      .twr {
        margin: 0 -5px -3px -5px;
        p {
          margin-bottom: 0;
        }
      }
    }
    > section {
      margin-bottom: 25px;
    }
  }
  .sAs.left {
    margin-left: 0;
  }
  article {
    .aut {
      p {
        margin-bottom: 10px;
      }
    }
    p {
      @include marginBottom;
      word-wrap: break-word;
    }
    .shw p {
      margin-bottom: 0;
    }
    ul, ol {
      line-height: $normalSize + .875em;
      margin-bottom: 1.25em;
      padding-left: 3.15em;
    }
    .aut ul {
      margin: 0;
      padding: 0;
    }
    h1, .entry-title {
      font-weight: bold;
      line-height: $normalSize * 1.25;
      a {
        text-decoration: none;
      }
    }
    a {
      text-decoration: underline;
      &.ftx, &.crp, &.btn {
        text-decoration: none;
      }
    }
    .pgn a, .cmc a {
      text-decoration: none;
    }
  }
  .cmt {
    background: $main_color;
    cursor: pointer;
    font-size: $normalSize * 1.125;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 1px darken($main_color, 20%);
  }
  .sticky {
    .acm {
      top: -1px;
    }
  }
  .acm {
    @extend .cmt;
    position: absolute;
    padding: 18px 0;
    top: 0;
    width: 56px;
    z-index: 1;
  }
  .bSe.left, .bSe.fullWidth {
    .acm {
      left: -56px;
    }
  }
  .bSe.right {
    .acm {
      right: -56px;
    }
  }
  .mre {
    @include linear-gradient(bottom, #6d6d6d 0%, #898989 100%);
    border-radius: 3px;
    color: $white;
    display: inline-block;
    font-size: $normalSize * .875;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0 0 2px #585656;
    padding: 14px 40px;
    &:hover {
      @include linear-gradient(bottom, #898989 0%, #6d6d6d 100%);
    }
  }
  section {
    footer {
      background: $white;
      border-top: 1px solid $lightGray;
      color: #939292;
      margin: 0;
      padding: 0;
      ul {
        display: table;
        padding-left: 0;
        table-layout: fixed;
        width: 100%;
      }
      ul li {
        box-sizing: border-box;
        border-right: 1px solid $lightGray;
        display: table-cell;
        //        float: left;
        font-size: $normalSize * .875;
        line-height: $normalSize * 2.8;
        position: relative;
        text-align: center;
        vertical-align: bottom;
        a {
          color: #939292;
          text-decoration: none;
          &:hover {
            color: darken(#939292, 30%);
          }
        }
        &:last-child {
          border-right: none;
        }
        ul {
          @include border(1px, solid, $lightGray);
          background: $white;
          border-top: none;
          display: none;
          left: -1px;
          position: absolute;
          width: 100%;
          z-index: 100;
          li {
            border-right: none;
            display: block;
            float: none;
            padding: 0;
          }
        }
      }
    }
  }
}
section[id*='categories'] {
  label[for='cat'] {
    display: none;
  }
}
.trg {
  border-style: solid;
  border-width: 6px 6px 0 0;
  border-color: $main_color transparent transparent transparent;
  height: 0;
  position: absolute;
  top: 0;
  left: 56px;
  width: 0;
}
.bSe.right, .gin {
  .trg {
    border-width: 6px 0 0 6px;
    left: -6px;
  }
}
.aIm img {
  @include border(3px, solid, #efefef);
  box-sizing: border-box;
  display: block;
}
.afim {
  @include border(3px, solid, #efefef);
  box-sizing: border-box;
  display: block;
}
.pst {
  max-width: 220px;
}
.psb, .psb img {
  display: block;
  height: auto;
  margin-bottom: 10px;
  width: 100%;
}
.aIm.left, .afim.left {
  margin: 0 20px 20px 0;
}
.aIm.right, .afim.right {
  margin: 0 0 20px 20px;
}
.aIm.center, .afim.center {
  margin: 20px auto;
}
blockquote {
  border-left: 4px solid #999999;
  font-style: italic;
  line-height: $normalSize + 0.375em;
  padding-left: 10px;
  margin: 25px 0;
}
.pulQ {
  border-left: none;
  display: inline-table;
  margin: 0;
  div.left {
    @extend blockquote;
    border-left: 2px solid #e6e6e6;
    display: table-cell;
    min-height: 31px;
    margin-top: 0;
    max-width: 81%;
  }
  .quo {
    background: url($sprite) -248px -3px;
    display: table-cell;
    height: 31px;
    margin: 0 15px;
    min-width: 36px;
  }
  &.left, &.right {
    max-width: 50%;
    div.left {
      margin-right: 20px;
      max-width: 70%;
    }
  }
  i {
    color: lighten($content_gray, 40%);
  }
}
table {
  line-height: $normalSize + .375;
  text-align: center;
  width: 100%;
  td, th {
    border: 1px solid lighten($main_color, 40%);
    background: #fff;
    padding: 10px;
  }
  th {
    background: lighten($main_color, 40%);
    padding: 10px;
  }
  td {
    line-height: $normalSize * 1.5;
    text-align: left;
  }
}
dl {
  line-height: $normalSize + .875;
  dt {
    color: darken($content_gray, 40%);
    font-weight: bold;
  }
}
address, dl, table {
  @include marginBottom;
}
.pgn {
  @include bshadow;
  &.com-pgn {
    box-shadow: none;
    margin-bottom: 15px;
    text-align: center;
  }
  a, .dots {
    @include transition(all, .2s, linear);
    border: 1px solid lighten($gray, 30%);
    display: inline-block;
    padding: 5px 10px;
  }
  a:hover, .dots:hover {
    background: $main_color;
    color: $white;
  }
  .current {
    background: $main_color;
    color: $white;
    display: inline-block;
    padding: 6px 11px;
  }
  .nxt, .prv {
    padding: 10px 0;
    width: 35%;
  }
  .nxt {
    margin-right: 20px;
  }
}
.ctr {
  text-align: center;
}
.scn {
  @include bshadow();
  color: #949494;
  font-size: $normalSize * 0.875;
  ul {
    list-style-type: none;
    ul {
      padding-left: 10%;
    }
    li {
      background: url('../images/lost_left_arrow.gif') no-repeat left 18px;
      border-bottom: 1px dotted #E2DFDF;
      line-height: $normalSize + 0.375;
      padding: 10px 20px;
      position: relative;
      &:last-child {
        border-bottom: 0;
      }
      a {
        @include transition(all, .2s, linear);
        color: #767575;
        font-weight: bold;
        &:hover {
          color: #434242;
          margin-left: 4px;
        }
      }
    }
  }
}
.ttl {
  padding: 0 0 20px 20px;
  text-transform: uppercase;
}
input#search-field {
  @include border(1px, solid, #c6c6c6);
  box-sizing: border-box;
  height: 40px;
  padding: 0 40px 0 20px;
  width: 100%;
}
.search_widget {
  position: relative;
  .search-button {
    float: none;
    position: absolute;
    right: 0;
    top: 0;
  }
}
.sBn {
  border: none;
  float: right;
  height: 40px;
  &:hover {
    cursor: pointer;
  }
}
.no_content_msg {
  text-align: center;
  form {
    margin: 0 auto;
    width: 60%;
  }
  .search_field {
    height: 35px;
    width: 50%;
  }
  .submit_btn {
    background: #5F5F5F;
    border: none;
    color: $white;
    font-weight: bold;
    height: 41px;
  }
}
#search-button, #submit_btn {
  @extend .sBn;
  background: url($sprite) #7b7b7b -25px 5px;
  width: 40px;
}
#search-big-button {
  @extend .sBn;
  background: #7b7b7b;
  color: $white;
  width: 22%;
}
.cnt .bSe article {
  margin-bottom: 20px;
}
.tabs_widget {
  .tabs_headers div {
    display: table;
    float: left;
    height: 50px;
    padding: 0;
    a {
      @include linear-gradient(bottom, darken($main_color, 15%) 0%, $main_color 100%);
      background-color: $main_color;
      border-right: 1px solid darken($main_color, 20%);
      color: $white;
      display: table-cell;
      height: 50px;
      line-height: 1.2em;
      max-height: 50px;
      overflow: hidden;
      padding: 0 10px;
      text-align: center;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      transition: none;
      text-shadow: 0 0 2px darken($main_color, 20%);
      vertical-align: middle;
      word-wrap: break-word;
      width: 100%;
      &:hover {
        margin-left: 0;
      }
      &.active_tab {
        background: $white;
        border-right: 1px solid $white;
        color: #494949;
        text-shadow: 0 1px 0 $white;
      }
    }
    .show_content {
      display: block;
    }
  }
  .hide_content {
    display: none;
  }
}
.tabs_body {
  padding: 30px 20px;
  .tim {
    margin-right: 5%;
  }
}
.rw {
  .tim {
    margin-right: 5%;
  }
}
.tabs_body, .scbp, .rw {
  .tim {
    width: 64px;
    .wti {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      display: block;
      height: 64px;
      width: 64px;
    }
  }
  .tab_date {
    font-style: italic;
    font-size: $normalSize * .8;
  }
  .txt {
    width: 67%;
    &.noImageTab {
      background: url("../images/lost_left_arrow.gif") no-repeat scroll left 7px;
      padding-left: 15px;
      width: 100%;
    }
  }
  .pps {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      color: #767575;
      display: block;
      font-weight: bold;
      line-height: $normalSize + 0.4;
      text-decoration: none;
      @include transition(all, .2s, linear);
      &:hover {
        color: darken(#767575, 20%);
      }
    }
    .dat {
      color: #969595;
      font-size: $normalSize * 0.875;
      font-style: italic;
    }
  }
}
.scbp {
  margin-bottom: 20px;
  .csc & {
    h3 {
      margin-top: 0;
    }
  }
  .txt {
    a {
      display: inline-block;
    }
  }
  .pps {
    margin-bottom: 10px;
    min-height: 50px;
    .tim {
      a {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        height: 65px;
        width: 65px;
      }
    }
  }
  .tim {
    margin-right: 2%;
  }
}
.wat {
  img {
    @include border(2px, solid, #efefef);
    margin: 0 0 20px 20px;
  }
  .awr {
    color: #949494;
  }
  .author-image {
    display: inline;
    float: right;
  }
  .scn p {
    margin-bottom: 10px;
  }
}
.follow_me {
  .cnt & .awr {
    overflow: visible;
  }
  .side_body {
    padding-right: 0;
    ul {
      li {
        background: none;
        border: none;
        float: left;
        padding: 0;
        a.sm {
          display: block;
          height: 47px;
          margin: 0 17px 20px 0;
          padding-top: 23px;
          text-align: center;
          span {
            background: url($sprite) no-repeat;
            display: block;
            height: 23px;
            margin: 0 auto;
            width: 32px;
          }
        }

        a.sm-1col {
          width: 85px;
        }
        a.sm-2col {
          width: 188px;
        }
        a.sm-3col {
          width: 291px;
          margin-left: 0;
        }
        a.fb {
          background: #4e6caa;
          span {
            background-position: 0px -48px;
          }
        }
        a.twitter {
          background: #32ccfe;
          span {
            background-position: -32px -48px;
          }
        }
        a.g_plus {
          background: #da5333;
          span {
            background-position: -65px -48px;
          }
        }
        a.rss {
          background: #fe9902;
          span {
            background-position: -96px -48px;
          }
        }
        a.linkedin {
          background: #0073b2;
          span {
            background-position: -126px -48px;
          }
        }
        a.dribble {
          background: #ea4b8b;
          span {
            background-position: -160px -48px;
          }
        }
        a.youtube {
          background: #d53a3d;
          span {
            background-position: -192px -48px;
          }
        }
        a.vimeo {
          background: #1bb6ec;
          span {
            background-position: -224px -48px;
          }
        }
        a.prinster {
          background: #cd1f28;
          span {
            background-position: -255px -48px;
          }
        }
        a.is {
          background: #c3b39c;
          span {
            background-position: -295px -49px;
          }
        }
        a.xi {
          background: #006567;
          span {
            background-position: -336px -49px;
          }
        }
        .bubb {
          display: block;
          min-width: 50px;
          padding-bottom: 20px;
          position: absolute;
          bottom: 97%;
          left: -9000px;
          z-index: 4;
        }
        .bubble {
          border-radius: 2px;
          box-shadow: 1px 0 4px 0 rgba(#587076, .3);
          background: $white;
          border: 1px solid #b2c7cd;
          display: block;
          padding: 10px;
          position: relative;
          &:after {
            @include transform(skewX(39deg));
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 13px solid $white;
            content: '';
            display: block;
            height: 0;
            position: absolute;
            bottom: -13px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 0;
          }
          &:before {
            @include transform(skewX(39deg));
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-top: 15px solid #b2c7cd;
            content: '';
            display: block;
            height: 0;
            position: absolute;
            bottom: -15px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 0;
          }
          &.bubble-pinterest a {
            display: block !important;
            padding-left: 19px !important;
            text-indent: 0 !important;
          }
        }
      }
    }
  }
}
.avt {
  width: 30%;
}
.tagcloud {
  a {
    @include transition(all, .2s, linear);
    margin-right: 15px;
    text-decoration: underline;
  }
}
caption {
  color: $content_gray;
}
#wp-calendar {
  margin-bottom: 0;
  text-align: center;
  width: 100%;
  th {
    color: $black;
  }
  td {
    background: #fcfcfc;
    border: 1px solid $white;
    color: $content_gray;
    font-size: 100%;
  }
  td.pad, #prev, #next {
    background: none;
  }
  th, td {
    line-height: $normalSize * 2;
    padding: 0;
    text-align: center;
  }
  caption {
    padding: 0 0 15px 0;
    text-align: left;
  }
}
.err {
  padding: 20% 0%;
  margin: 0 auto;
  width: 80%;
  span {
    display: block;
    font-size: $normalSize * 12.5;
    font-weight: bold;
    width: 50%;
  }
  p.lostp {
    box-sizing: border-box;
    border-left: 1px solid $main_color;
    font-size: $normalSize * 2;
    margin-top: 25px;
    padding-left: 23px;
    width: 50%;
  }
  form {
    input#search-field {
      box-sizing: border-box;
      background: url('../images/search-icon.png') no-repeat 20px 10px;
      color: #c5c5c5;
      float: left;
      height: 40px;
      margin-bottom: 20px;
      padding-left: 50px;
      width: 78%;
    }
    #search-big-button {
      float: left;
      width: 20%;
    }
  }
  ul li a {
    color: $main_color !important;
  }
}
.aut {
  div.left {
    width: 18%;
  }
  div.right {
    width: 82%;
  }
  img {
    @extend .aIm;
    float: left;
    max-width: 72px;
  }
}
.cmr {
  float: right;
  width: calc(100% - 80px);
}
.cmb {
  div.left {
    margin-right: 20px;
  }
  div.right {
    width: 88%;
  }
  img {
    @extend .aIm;
    //    float: left;
    //    max-width: 72px;
  }
}
.no_comm h4 {
  margin: 10px 0;
}
.mspr {
  height: 5px;
}
.aut {
  span, b {
    color: #656565;
    font-size: $normalSize;
    overflow: hidden;
  }
  b {
    font-weight: bold;
  }
  ul {
    list-style-type: none;
  }
  .left {
    ul {
      a {
        background: url($sprite);
        display: block;
        height: 20px;
        width: 20px;
        &.fbk {
          background-position: -170px -84px;
          margin-bottom: 27%;
        }
        &.twt {
          background-position: -139px -84px;
          margin-bottom: 30%;
        }
        &.lnk {
          background-position: -70px -150px;
          margin-bottom: 27%;
        }
        &.ggl {
          background-position: -111px -84px;
          margin-bottom: 27%;
        }
        &.xing {
          background-position: -40px -150px;
        }
      }
    }
  }
  p {
    font-size: $normalSize * 0.875;
  }
}
.lcm {
  color: $white;
  display: block;
  float: right;
  padding: 11px 30px;
  position: relative;
}
.str {
  border-color: transparent $main_color transparent transparent;
  border-style: solid;
  border-width: 0 5px 5px 0;
  position: absolute;
  top: 0;
  left: -5px;
}
.ftx {
  cursor: pointer;
  display: block;
  line-height: $normalSize * 3;
  float: left;
  text-indent: 20px;
}
.cmb {
  margin-left: 5%;
}
.cmc {
  @include border(1px, solid, #e6e6e6);
  background: #fcfcfc;
  font-size: $normalSize;
  margin-bottom: 20px;
  padding: 20px;
  .nam {
    color: #8c8c8c;
    display: block;
    font-size: $normalSize * .750;
    font-style: italic;
    line-height: $normalSize * 2;
    a, .uNM {
      color: $main_color;
      font-weight: bold;
      font-style: normal;
      font-size: $normalSize * 1.21;
    }
  }
  &.byAut {
    @include border(1px, solid, scale-color($main_color, $lightness: 90%));
    background: scale-color($main_color, $lightness: 95%);
  }
}
.rpl {
  @include transition(all, .2s, linear);
  border-radius: 2px;
  background: #cecece;
  font-size: $normalSize * .75;
  float: right;
  line-height: $normalSize;
  min-width: 70px;
  padding: 6px;
  text-align: center;
  text-indent: 8px;
  &:hover {
    background: $main_color;
  }
  .ric {
    background: url($sprite) no-repeat -113px -5px;
    display: inline-block;
    float: left;
    height: 11px;
    margin-top: 2px;
    width: 13px;
  }
}
.crp {
  @extend .rpl;
  .rty {
    @extend .ric;
    background: url($sprite) no-repeat -145px -7px;
  }
}
.lrp {
  textarea {
    min-height: 170px;
    padding: 3%;
    width: 93%;
  }
  .btn {
    margin: 10px 0 15px;
  }
  input[type="submit"] {
    background: $main_color;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border: 0;
    color: $white;
    cursor: pointer;
    font-size: $normalSize;
    font-weight: bold;
    margin-top: 20px;
    padding: 15px 40px;
  }
  input[type="text"] {
    box-sizing: border-box;
    float: left;
    height: 40px;
    margin: 0 4.2% 3% 0;
    padding: 0 0 0 2%;
    width: 30.3%;
    &.lst {
      margin-right: 0;
    }
  }
}
.arh {
  h4 {
    margin-bottom: 10px;
  }
  span {
    font-size: $normalSize * .75;
  }
}
.lnd {
  h1 {
    font-weight: normal;
    span {
      font-weight: bold;
    }
  }
  .vdo {
    margin-bottom: 40px;
  }
}
.cta_title {
  font-size: $normalSize * 1.375;
  font-weight: bold;
}
.cta_widget {
  .oab {
    margin-bottom: 20px;
  }
  color: $white;
}
.cta_content {
  font-size: $normalSize * .75;
}
.cnt {
  .cta_bnt {
    @include linear-gradient(bottom, #e8e8e8 0%, $white 100%);
    color: #666565;
    display: block;
    font-weight: bold;
    font-size: $normalSize;
    margin: 20px auto 0;
    padding: 15px;
    text-transform: uppercase;
    width: 90%;
    &:hover {
      @include linear-gradient(bottom, $white 0%, #e8e8e8 100%);
    }
  }
}
/*end content*/
/*footer*/
footer .cnt .ftw {
  .ttl {
    border-bottom: 1px solid #3e3e3e;
    color: $white;
    font-size: 16px !important;
    margin-bottom: 30px;
    text-transform: capitalize;
    padding: 0 0 10px 0;
  }
}
footer {
  color: #efefef;
  background: #2a2a2c;
  margin-top: 50px;
  padding: 45px 0 20px 0;
  .scn {
    box-shadow: none;
    background: transparent;
  }
  a {
    color: $white;
  }
  .credits {
    font-size: $normalSize/1.3;
    color: #c5c5c5 !important;
    margin-top: 10px;
    text-align: center;
    a {
      color: lighten($lightGray, 50%);
    }
  }
  .widget.phone-number {
    .scn {
      box-shadow: none;
      background: transparent;
      &.awr {
        padding: 0 0 20px;
      }
    }
  }
  #wp-calendar {
    font-size: $normalSize/1.2;
    caption {
      color: $white;
      text-align: left;
    }
    td {
      background: #3b3b3d;
      border: 1px solid #2a2a2c;
      color: $white;
    }
    td.pad, #prev, #next {
      background: none;
    }
  }
  .tagcloud {
    a {
      @include transition(all, .2s, linear);
      background: #585858;
      color: $white;
      display: block;
      float: left;
      margin-bottom: 5px;
      padding: 5px;
      text-decoration: none;
      &:hover {
        background: $main_color;
      }
    }
  }
  .widget.follow_me {
    .scn {
      box-shadow: none;
      background: transparent;
    }
  }
  .wat {
    .scn {
      box-shadow: none;
      background: transparent;
      color: $white;
      p {
        color: $white;
      }
    }
  }
}
footer .cnt .awr {
  padding: 0;
}
.ftw {
  .colm {
    section {
      width: 100%;
    }
  }
  .col {
    min-width: 200px;
    margin-left: 2%;
    margin-bottom: 5%;
    &:first-child {
      margin-left: 0;
    }
    ul {
      list-style-type: none;
      font-size: $normalSize * .875;
      padding: 0;
      ul {
        padding-left: 10%;
      }
      li {
        background: url('../images/lost_left_arrow.gif') no-repeat left 10px;
        line-height: $normalSize * 1.1;
        font-size: $normalSize;
        padding: 5px 10px;
        &:last-child {
          border-bottom: 0;
        }
        a {
          @include transition(all, .2s, linear);
          color: $white;
          &:hover {
            margin-left: 4px;
          }
        }
      }
    }
    &.wat.scn {
      float: left;
    }
  }
  #search-field {
    font-size: $normalSize * .75;
    //padding: 0 10px;
    //  width: 82%;
  }
}
.copyright {
  font-size: $normalSize * .8;
  text-align: center;
  nav.right {
    float: none;
  }
  li {
    display: inline-block;
    padding: 10px 5px;
    ul {
      display: none;
    }
  }
  a {
    color: $white;
  }
  a:hover {
    color: $main_color;
    text-decoration: underline;
  }
  p {
    color: #c5c5c5;
  }
}
/*end footer*/
/*shortcodes*/
.flexible-container {
  height: 0;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  overflow: hidden;
}
.flexible-container iframe,
.flexible-container object,
.flexible-container embed {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.colm {
  float: left;
  margin-bottom: 10px;
}
.twc {
  padding: 0% 2% 0% 0%;
  width: 49%;
  &.lst {
    padding: 0% 0% 0% 0%;
  }
}
.thc {
  padding: 0% 2% 0% 0%;
  width: 32%;
  &.lst {
    padding: 0% 0% 0% 0%;
  }
}
.oth {
  padding: 0% 2% 0% 0%;
  width: 32%;
  &.lst {
    padding: 0% 0% 0% 0%;
  }
}
.tth {
  padding: 0% 2% 0% 0%;
  width: 66%;
  &.lst {
    padding: 0% 0% 0% 0%;
  }
}
.foc {
  padding: 0% 2% 0% 0%;
  width: 23.5%;
  &.lst {
    padding: 0%;
  }
}
.ofo {
  padding: 0% 2% 0% 0%;
  width: 23.5%;
  &.lst {
    padding: 0%;
  }
}
.tfo {
  padding: 0% 2% 0% 0%;
  width: 74.5%;
  &.lst {
    padding: 0%;
  }
}
.fft {
  padding: 0% 2% 0% 0%;
  width: 23.5%;
  &.lst {
    padding: 0% 0% 0% 0%;
  }
}
.fft + .twc {
  padding: 0% 2% 0% 0%;
}
.twc:first-child {
  padding: 0% 2% 0% 0%;

}
.fft + .twc.lst {
  padding: 0% 0% 0% 0%;
}
.fwit {
  margin: -20px -20px 10px -20px;
  overflow: hidden;
  //  .entry-title {
  //    padding: 20px;
  //  }

}
.fwi {
  margin: 0 -20px;
  //  overflow: hidden;
  img {
    width: 100%;
  }
}
.bpd {
  .fwi {
    margin: 0 -144px;
  }
}
.shn, .shnd {
  padding: 1% 2%;
  h4 {
    margin: 0;
  }
  p {
    padding: 1% 0;
  }
}
.shn {
  color: $white;
  .bSe & {
    h1, h2, h3, h4, h5, h6 {
      color: $white;
    }
  }
  .cnt & {
    p, a {
      color: $white;
    }
  }
  .cnt .darkSec &, .cnt .lightSec & {
    color: $white;
    h1, h2, h3, h4, h5, h6, a, ul, ol, p {
      color: $white;
    }
  }
  .bp-t .darkSec &, .bp-t .lightSec & {
    color: $white;
    h1, h2, h3, h4, h5, h6, a, ul, ol, p {
      color: $white;
    }
  }
}
.shnd {
  color: $gray;
  .bSe & {
    h1, h2, h3, h4, h5, h6 {
      color: $gray;
    }
  }
  .cnt & {
    p, a {
      color: $gray;
    }
  }
  .cnt .darkSec &, .cnt .lightSec & {
    color: $gray;
    h1, h2, h3, h4, h5, h6, a, ul, ol, p {
      color: $gray;
    }
  }
  .bp-t .darkSec &, .bp-t .lightSec & {
    color: $gray;
    h1, h2, h3, h4, h5, h6, a, ul, ol, p {
      color: $gray;
    }
  }
}
.thrive_date {
  font-style: italic;
  font-size: $normalSize * .85;
}
.thrivecb {
  box-shadow: 0 0 3px rgba(1, 1, 1, .16);
  color: #949494;
  margin-bottom: 1em;
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}
@each $color in $contentBox {
  .thrivecb.#{nth($color, 1)} {
    background: nth($color, 2);
    border-bottom: 1px solid nth($color, 2);
  }

}
@each $color in $contentBox {
  .thrivecb.#{nth($color, 1)} {
    .shn {
      background: nth($color, 2);
    }
    .cbt {
      border-bottom: 1px solid nth($color, 3);
    }
  }
}
@each $color in $lightContentBox {
  .thrivecb.#{nth($color, 1)} {
    .shnd {
      background: nth($color, 2);
    }
    .cbt {
      border-bottom: 1px solid nth($color, 3);
    }
  }
}
.thrivecb.image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  &.flh {
    position: relative;
    .shn-i {
      position: absolute;
      top: 0;
      left: 10px;
      right: 10px;
    }
  }
  .shn {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
}
.thrivecb.def {
  .shn {
    background: none;
  }
}
.bSe {
  .thrivecb {
    &.note, &.light {
      margin-bottom: 20px;
      padding: 2.5%;
      h3 {
        font-family: 'Lato', arial;
        margin-top: 0;
      }
    }
    &.light {
      background: #F1F1F1;
      border: 2px solid #CFCFCF;
      color: #424242;
    }
    &.note {
      background: #FFFCD5;
      border: 2px solid #F1EA90;
      color: #686555;
    }
  }
}
.showMenu {
  background: url('../images/down-arrow.png') no-repeat center right;
}
.selLi {
  background: $main_color;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.thrive-borderless .wp-video-shortcode {
  max-width: 100% !important;
}
.thrive-borderless .wp-audio-shortcode {
  max-width: 100% !important;
}
.thrive-borderless > div {
  max-width: 100% !important;
}
//.faq {
//  .faqC {
//    display: none;
//    padding: 10px;
//  }
//  .faqB.even {
//    background: #F5F5F5;
//  }
//  h4 {
//    cursor: pointer;
//    margin: 0px;
//    padding: 5px;
//    font-size: 120%;
//    &:hover {
//      color: $main_color;
//    }
//    span {
//      background: url('../images/sprite-web.png') -216px -82px no-repeat;
//      display: inline-block;
//      margin-right: 10px;
//      height: 18px;
//      width: 16px;
//      &.oFaq {
//        background: url('../images/sprite-web.png') -238px -82px no-repeat;
//      }
//    }
//  }
//}

.cnt .bpd {
  .out {
    margin-left: -144px;
    margin-right: -144px;
  }
  .in {
    padding: 3% 10%;
  }
}
.out {
  margin-left: -20px;
  margin-right: -20px;
}
.in {
  padding: 20px;
}
.pattern1 {
  background: #2980b9;
}
.pattern2 {
  background: #c0392b;
}
.pattern3 {
  background: #2ecc71;
}
.cnt .darkSec, .bp-t .darkSec {
  color: $content_gray;
  p, ul, ol, div, span, h1, h2, h3, h4, h5, h6, a {
    color: $content_gray;
  }
  .scbg {
    h4 {
      color: $content_gray;
    }
  }
  a {
    text-decoration: underline;
  }
}
.cnt .lightSec, .bp-t .lightSec {
  color: lighten($gray, 60%);
  p, ul, ol, div, span, h1, h2, h3, h4, h5, h6, a {
    color: lighten($gray, 60%);
  }
  .scbg {
    h4 {
      color: lighten($gray, 60%);
    }
  }
  a {
    text-decoration: underline;
  }
}
.pattern1.bshadow {
  box-shadow: 0 1px 4px darken(#2980b9, 20%) inset;
}
.pattern2.bshadow {
  box-shadow: 0 1px 4px darken(#c0392b, 20%) inset;
}
.pattern3.bshadow {
  box-shadow: 0 1px 4px darken(#2ecc71, 20%) inset;
}
.pattern {
  background: url('../images/pattern.jpg') repeat;
}
.bbackground {
  background: url('../images/pattern.jpg') no-repeat;
}
// facebook comments

#fbcomments, .fb_iframe_widget, .fb_iframe_widget[style], .fb_iframe_widget iframe[style], #fbcomments iframe[style], .fb-comments > span {
  width: 100% !important;
}
//page sections with fixed image as background
.pdwbg {
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.pddbg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.pdfbg {
  &.smaller {
    background-size: 100% 100%;
  }
}
.lightSec {
  .pdwbg, .pddbg, .pdfbg {
    text-shadow: 1px 1px 2px $black;
    .thrivecb {
      text-shadow: none;
    }
  }
}
//new shortcodes
.scon {
  margin-bottom: 20px;
  width: 100%;
  &.wide {
    width: 100%;
    &.o1 {
      .frm {
        input[type="text"], input[type="email"], .op-r {
          width: 49.5%;
        }
        .btn {
          width: 49.5%;
        }
      }
    }
    &.o2 {
      .frm {
        input[type="text"], input[type="email"], .op-r {
          width: 33%;
        }
        .btn {
          width: 32%;
        }
      }
    }
    &.o3 {
      .frm {
        input[type="text"], input[type="email"], .op-r {
          width: 49.5%;
          &:nth-child(2n) {
            margin-right: 0;
          }
        }
        .btn {
          width: 49.5%;
        }
      }
    }
  }
  .frm {
    @include clearfix();
    input[type="text"], input[type="email"], .btn, .op-r {
      float: left;
      margin-bottom: 7px;
    }
    input[type="text"], input[type="email"], .op-r {
      margin-right: 1%;
    }
    input[type="text"], input[type="email"] {
      box-sizing: border-box;
      font-size: $normalSize * 1.125;
      height: 47px;
      padding: 0 4%;
      width: 100%;
    }
    input[type="submit"] {
      background: none;
      border: 0;
      width: 100%;
    }
  }
  .btn {
    box-sizing: border-box;
    cursor: pointer;
    height: 46px;
    line-height: 46px;
    width: 100%;
    input[type="submit"] {
      cursor: pointer;
      height: 46px;
      line-height: 46px;
      padding: 0;
      vertical-align: top;
    }
  }
}
.scfm {
  display: table;
  margin: 0 auto;
  .ss {
    position: relative;
    margin-left: 15px;
    iframe {
      max-width: 1000px;
    }
    .ssf & {
      margin-left: 0;
    }
    &:first-child {
      margin-left: 0;
    }
    > a {
      display: inline-block;
      margin-bottom: 10px;
      min-width: 56px;
      min-height: 60px;
      position: relative;
      width: 8.17%;
      span {
        background-image: url($sprite);
        display: block;
        height: 33px;
        margin: 25% auto;
        width: 33px;
      }
    }
  }
  .bubb {
    display: block;
    min-width: 50px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 97%;
    left: -9000px;
    z-index: 4;
  }
  .bubble {
    border-radius: 2px;
    box-shadow: 1px 0 4px 0 rgba(#587076, .3);
    background: $white;
    border: 1px solid #b2c7cd;
    display: block;
    padding: 10px;
    position: relative;
    &:after {
      @include transform(skewX(39deg));
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 13px solid $white;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      bottom: -13px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0px;
    }
    &:before {
      @include transform(skewX(39deg));
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 15px solid #b2c7cd;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      bottom: -15px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0;
    }
    &.bubble-pinterest a {
      display: block !important;
      padding-left: 19px !important;
      text-indent: 0 !important;
    }
  }
  .fb {
    @include linear-gradient(#5373b4 0%, #4d6cac 50%, #4867a6 100%, $fallback: #5373b4);
    span {
      background-position: 1px -44px;
    }
  }
  .tw {
    @include linear-gradient(#54d4fe 0%, #41d0fe 50%, #33ccfe 100%, $fallback: #54d4fe);
    span {
      background-position: -31px -44px;
    }
  }
  .gg {
    @include linear-gradient(#e4684b 0%, #df5d3f 50%, #da5434 100%, $fallback: #e4684b);
    span {
      background-position: -63px -44px;
    }
  }
  .rs {
    @include linear-gradient(#fba82c 0%, #fda015 50%, #fe9a03 100%, $fallback: #fba82c);
    span {
      background-position: -94px -44px;
    }
  }
  .lk {
    @include linear-gradient(#0282c9 0%, #017bbe 50%, #0073b3 100%, $fallback: #0282c9);
    span {
      background-position: -126px -44px;
    }
  }
  .dr {
    @include linear-gradient(#f1679e 0%, #ed5994 50%, #ea4c8c 100%, $fallback: #f1679e);
    span {
      background-position: -159px -44px;
    }
  }
  .yt {
    @include linear-gradient(#e04345 0%, #d7393c 50%, #d23336 100%, $fallback: #e04345);
    span {
      background-position: -192px -44px;
    }
  }
  .vm {
    @include linear-gradient(#1fb8ed 0%, #1ab1e5 50%, #15aade 100%, $fallback: #1fb8ed);
    span {
      background-position: -222px -44px;
    }
  }
  .pt {
    @include linear-gradient(#e0333c 0%, #d42730 50%, #cd1f28 100%, $fallback: #e0333c);
    span {
      background-position: -257px -44px;
    }
  }
  .is {
    @include linear-gradient(#9b7968 0%, #927668 100%, $fallback: #9b7968);
    span {
      background-position: -295px -44px;
    }
  }
  .xi {
    @include linear-gradient(#017a7c 0%, #006567 100%, $fallback: #017a7c);
    span {
      background-position: -336px -44px;
    }
  }
}
.sctm {
  border-collapse: separate;
  color: #4b4b4b;
  line-height: $normalSize * 1.4;
  max-width: 800px;
  margin: 20px auto;
  td {
    background: transparent;
    border: none;
    padding: 0;
  }
  .tst {
    font-style: italic;
    font-size: $normalSize;
    td {
      padding-bottom: 10px;
    }
  }
  .lts {
    height: 15px;
    td {
      border-top: 1px solid #6d6d6d;
      &.ltso {
        width: 32px;
      }
      &.ltst {
        border-top: none;
        width: 19px;
      }
    }
    span {
      background: url($sprite) -263px -91px;
      display: block;
      float: left;
      height: 19px;
      width: 19px;
    }
  }
  .bts {
    vertical-align: top;
    td {
      vertical-align: middle;
      img {
        border: 1px solid #e0e0e0;
        height: 24px;
        width: 24px;
      }
    }
    span {
      margin: 0 0 0 5px;
    }
  }
}
.shn, .lightSec {
  .sctm {
    color: $white;
    text-shadow: 1px 1px 3px #1f1f1f;
  }
  .divi {
    border-bottom: 1px solid $white;
  }
}
.shnd, .darkSec {
  .sctm {
    color: #4b4b4b;
  }
  .divi {
    border-bottom: 1px solid #d5d5d5;
  }
}
.scbg {
  clear: both;
  h4 {
    margin: 10px 0 10px 0;
  }
  .scc {
    // min-height: 440px;
    margin-bottom: 20px;
    position: relative;
    a {
      text-decoration: none;
    }
    .rmc {
      color: #103ec3;
      text-decoration: underline;
      display: inline-block;
    }
    h4 {
      width: 100%;
    }
    p {
      margin: 0;
    }
  }
  .rimc {
    border-radius: 2px;
    border: 2px solid #dcdcdc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    height: 160px;
    margin: 0 auto;
    text-decoration: none;
    &.def {
      border: none;
      width: 160px;
    }
  }
  .bgin {
    //    height: 11.2em;
    margin-top: 5px;
    margin-bottom: .8em;
    //    overflow: hidden;
  }
}
//blog gallery in columns

.scvps {
  background-size: cover;
  background-position: center center;
  padding: 65px 0;
  position: relative;
  width: 100%;
  h2 {
    font-size: 85px;
    margin-top: 0;
    margin-bottom: 25px;
  }
  h3, p {
    font-size: 32px;
  }
  .vdc {
    width: 100%;
    .ltx {
      margin: 0 auto;
      padding: 0 10px;
      text-align: center;
    }
    &.video-container {
      .wp-video {
        max-width: 1080px !important;
        min-width: 700px;
      }
      .vwr {
        position: absolute;
      }
      iframe, > div {
        box-shadow: 0 0 26px -3px $black;
      }
      iframe {
        max-width: 1080px !important;
        min-width: 700px;
      }
    }
    p {
      margin-bottom: 0;
    }
    &.lv {
      h2, h3, p {
        color: $white;
        text-shadow: 1px 1px 3px #1f1f1f;
      }
      .mejs-overlay-button {
        @include transition(all, .3s, ease);
        background-image: url('../images/lightPlay.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 95%;
        cursor: pointer;
        display: block;
        height: 263px;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        opacity: .8;
        width: 260px;
        &:hover {
          background-size: 100%;
          opacity: 1;
        }
      }
      .pvb {
        background: url('../images/lightArrow.png') no-repeat right bottom;
        cursor: pointer;
        a {
          @include transition(all, 0.3s, ease);
          background-image: url('../images/lightPlay.png');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 95%;
          cursor: pointer;
          display: block;
          height: 263px;
          margin: 0 auto;
          opacity: .8;
          width: 260px;
          &:hover {
            background-size: 100%;
            opacity: 1;
          }
        }
      }
    }
    &.dv {
      h2, h3, p {
        color: #282828;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
      }
      .mejs-overlay-button {
        @include transition(all, .3s, ease);
        background-image: url('../images/darkPlay.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 95%;
        cursor: pointer;
        display: block;
        height: 263px;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        opacity: .8;
        width: 260px;
        &:hover {
          background-size: 100%;
          opacity: 1;
        }
      }
      .pvb {
        background: url('../images/darkArrow.png') no-repeat right bottom;
        cursor: pointer;
        a {
          @include transition(all, .3s, ease);
          background-image: url('../images/darkPlay.png');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 95%;
          cursor: pointer;
          display: block;
          height: 263px;
          margin: 0 auto;
          opacity: .8;
          width: 260px;
          &:hover {
            background-size: 100%;
            opacity: 1;
          }
        }
      }
    }
  }
  .pvb {
    cursor: pointer;
    display: block;
    height: 299px;
    margin: 0 auto;
    width: 426px;
  }
}
.top {
  margin-top: -20px;
}
.bottom {
  margin-bottom: -20px;
}
.tmg {
  margin-top: 20px;
}
.bmg {
  margin-bottom: 20px;
}
.dmg {
  margin-top: 20px;
  margin-bottom: 20px;
}
.bcs {
  max-width: 100%;
  &.left {
    margin-right: 5px;
  }
  &.ced {
    margin: 0 auto;
  }
  &.right {
    margin-left: 5px;
  }
  > p > iframe, > p > div {
    max-width: 100%;
    margin: 0 auto;
    padding: 1px;
  }
  &:before {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}
.ssf {
  box-shadow: 0 0 3px rgba(1, 1, 1, .16);
  border: 1px solid #e4e4e4;
  background: $white;
  display: none;
  padding: 15px 0 5px;
  width: 72px;
  z-index: 1;
  &.apss {
    position: absolute;
    bottom: 0 !important;
    top: auto !important;
  }
  &.fpss {
    position: fixed;
    top: 200px;
    bottom: auto;
    right: auto;
  }
  &.apsf {
    display: block;
    position: absolute;
    top: 100px;
    .fullWidth &, .bpd & {
      left: -97px;
    }
    .bSe.left & {
      left: -97px;
    }
    .bSe.right & {
      right: -97px;
    }
  }
  .scfm {
    display: block;
    .ss {
      margin: 0 auto 10px;
      width: 46px;
    }
    .ss > a {
      display: inline-table;
      height: 44px;
      margin: 0 auto;
      min-height: 44px;
      min-width: 44px;
      width: 44px;
      float: none;
      span {
        display: table-cell;
        vertical-align: middle;
      }
      &:hover {
        opacity: .8;
      }
    }
    .fb {
      background: #435eac;
      span {
        background-position: 6px -106px;
      }
    }
    .tw {
      background: #00acee;
      span {
        background-position: -29px -106px;
      }
    }
    .gg {
      background: #c1391d;
      span {
        background-position: -67px -106px;
      }
    }
    .lk {
      background: #0878b5;
      span {
        background-position: -108px -106px;
      }
    }
    .pt {
      span {
        background-position: -251px -37px;
      }
    }
  }
  .cou {
    color: $content_gray;
    display: block;
    font-size: 12px;
    margin: 0 auto 10px;
    text-align: center;
    word-wrap: break-word;
    width: 70px;
    > b {
      color: $content_gray;
      font-size: 40px;
      &.tt-share-long {
        font-size: 20px;
      }
    }
  }
}
//gallery
.galleryOverlay {
  @include transition(opacity, .5s, ease);
  background: rgba(0, 0, 0, .75);
  display: none;
  height: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  opacity: 0;
  &.g-v {
    opacity: 1;
  }
  .galleryStage {
    @include transition(left, .3s, ease);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    width: 100%;
    -ms-touch-action: none;
    touch-action: none;
    &.g-n-a {
      @include transition(none, 0s, ease);
    }
  }
  .galleryWrapper {
    display: inline-block;
    height: 100%;
    line-height: 1px;
    text-align: center;
    width: 100%;
    &:before {
      content: '';
      display: inline-block;
      height: 50%;
      margin-right: -1px;
      width: 1px;
    }
    img {
      box-shadow: 0 0 22px -2px rgba(0, 0, 0, .75);
      display: inline-block;
      max-height: 100%;
      max-width: 100%;
      vertical-align: middle;
    }
  }
  .g_count {
    color: $white;
    display: block;
    height: 37px;
    line-height: 37px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .6;
    .gl_ctrl_wrp {
      border-top-left-radius: 9px;
      border-top-right-radius: 9px;
      background: $black;
      padding: 0 15px;
      display: table;
      margin: 0 auto;
    }
    .img_count, .cap_txt {
      font-size: 14px;
    }
    .mob_text {
      display: none;
    }
  }
  .gl_ctrl {
    @include transition(all, .5s, ease);
    z-index: 1003;
    &:hover {
      opacity: .5;
    }
  }
  .nav_next, .nav_prev {
    background: url($sprite) no-repeat $black;
    display: block;
    height: 97px;
    margin-top: -48px;
    opacity: .3;
    position: absolute;
    top: 50%;
    text-decoration: none;
    text-align: center;
    width: 58px;
  }
  .nav_next {
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    background-position: -201px -104px;
    right: 0;
  }
  .nav_prev {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    background-position: -153px -103px;
    left: 0;
  }
  .nav_close {
    @include transition(opacity, 0.5s, ease);
    border-radius: 5px;
    background: $black;
    height: 32px;
    line-height: 32px;
    opacity: 0.4;
    position: absolute;
    top: -16px;
    right: -16px;
    text-decoration: none;
    width: 32px;
    text-align: center;
    &:hover {
      opacity: .5;
    }
    &.nav_close_cnt {
      top: 0;
      right: 0;
    }
    &:before {
      @include fontawesome();
      content: '\f00d';
      color: $white;
      font-size: 20px;
      opacity: 1;
    }
  }
}
.gallery {
  &.gallery-columns-1 {
    display: table;
  }
  &.no-gallery {
    dt {
      a {
        &:after, &:before {
          display: none;
        }
      }
    }
  }
  dl {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 0;
    text-align: left !important;
    dt {
      @include transition(all, .5s, linear);
      cursor: pointer;
      display: block;
      position: relative;
    }
  }
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  br {
    display: none;
  }
  &[id*='gallery-'] img {
    border: none !important;
  }
  dt {
    a {
      @include transition(all, .5s, linear);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      display: block;
      max-height: 450px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 13px;
      text-decoration: none;
      position: relative;
      &:after {
        @include transition(all, .5s, linear);
        background: transparent;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        content: '';
        height: 100%;
        margin: auto;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
      }
      &:hover {
        @include transition(all, .5s, linear);
        &:before {
          @include fontawesome();
          content: '\f00e';
          color: $white;
          cursor: pointer;
          font-size: 35px;
          height: 35px;
          margin: auto;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          opacity: .8;
          width: 35px;
          z-index: 1;
        }
        &:after {
          @include transition(all, .5s, linear);
          background: rgba(0, 0, 0, .55);
          content: '';
          height: 100%;
          margin: auto;
          position: absolute;
          bottom: 0;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          z-index: 0;
        }
      }
    }
  }
}
@include setGalleryWidths(1000px, fullWidth, 1, 9, false);
@include setGalleryWidths(1000px, tve_post_lp, 1, 9, false);
@include setGalleryWidths(700px, bpd, 1, 9, false);
@include setGalleryWidths(650px, bSeCont, 1, 9, false);
//end gallery

.rve {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
  &.noc {
    padding-top: 12px;
  }
  &.vim {
    padding-top: 8px;
  }
}
.brve {
  display: block;
  position: relative;
  padding-bottom: 55%;
  padding-top: 28px;
  height: 0;
  overflow: hidden;
  &.bnoc {
    padding-top: 19px;
  }
  &.vim {
    padding-top: 32px;
  }
}
.rve, .brve {
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.bSe iframe {
  max-width: 100%;
}
.vim {
  iframe, object, embed {
    top: -15px;
  }
}
//feature grid
.gr {
  margin-bottom: 20px;
  img {
    display: block;
    margin-top: 10px;
    max-width: 100%;
  }
  .gri {
    margin-right: 5%;
  }
  h4 {
    margin-top: 0px;
    word-wrap: break-word;
  }
  &.gr1 {
    .gri {
      width: 12%;
    }
    .grt {
      width: 83%;
    }
  }
  &.gr2 {
    .gri {
      width: 24%;
    }
    .grt {
      width: 71%;
    }
  }
  &.gr3 {
    .gri {
      width: 36%;
    }
    .grt {
      width: 59%;
    }
  }
}
.gr {
  @media only screen and (max-width: 600px) {
    .colm {
      width: 100%;
    }
  }
  @media only screen and (max-width: 772px) {
    .gri, .grt {
      text-align: center;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0px !important;
  }
  &.gr1, &.gr2, &.gr3 {
    .oth {
      @media only screen and (max-width: 940px) {
        .gri, .grt {
          margin-right: 0;
          width: 100%;
          img {
            display: table;
            margin: 0 auto;
          }
        }
      }
    }
  }
  &.gr1 {
    .gri {
      margin-right: 2%;
      width: 12%;
      @media only screen and (max-width: 772px) {
        width: 100%;
      }
      img {
        max-width: auto;
        width: auto;
        @media only screen and (max-width: 772px) {
          display: table;
          margin: 0 auto;
        }
      }
    }
    .grt {
      width: 86%;
      @media only screen and (max-width: 772px) {
        width: 100%;
      }
    }
  }
  &.gr2 {
    .gri {
      margin-right: 2%;
      width: 24%;
      @media only screen and (max-width: 772px) {
        width: 100%;
      }
      img {
        max-width: auto;
        width: auto;
        @media only screen and (max-width: 772px) {
          display: table;
          margin: 0 auto;
        }
      }
    }
    .grt {
      width: 74%;
      @media only screen and (max-width: 772px) {
        width: 100%;
      }
    }
  }
  &.gr3 {
    .gri {
      margin-right: 2%;
      width: 36%;
      @media only screen and (max-width: 774px) {
        width: 100%;
      }
      img {
        max-width: auto;
        width: auto;
        @media only screen and (max-width: 774px) {
          display: table;
          margin: 0 auto;
        }
      }
    }
    .grt {
      width: 62%;
      @media only screen and (max-width: 774px) {
        width: 100%;
      }
    }
  }
}
/*extended menus*/
.has-heading {
  .colch {
    color: $white;
    display: block;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: left;
  }
}
.has-heading {
  .colch {
    display: inline-block;
    font-size: $normalSize * 1.125;
    font-weight: 700;
    margin: 8px 0 20px 0;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    word-wrap: break-word;
    &:after {
      border-bottom: 1px solid rgba($white, .29);
      content: "";
      display: block;
      height: 0;
      position: absolute;
      bottom: -7px;
      left: 0;
      right: 0;
    }
    &:before {
      border-radius: 50%;
      background: rgba($white, .29);
      content: "";
      display: block;
      height: 3px;
      position: absolute;
      left: 0;
      bottom: -8px;
      width: 3px;
    }
  }
}
.has-free {
  a {
    display: inline !important;
    text-decoration: underline;
  }
}
.has-extended img {
  &.alignleft, &.alignright, &.alignnone {
    margin: 0 !important;
  }
  &.aligncenter {
    margin-left: auto;
    margin-right: auto;
  }
}
header {
  nav {
    ul li {
      > ul:before {
        border: 0 none;
        content: "";
      }
    }
    li.has-extended {
      ul li {
        border: 0 none;
      }
      ul {
        position: absolute;
        left: auto;
        right: auto;
        top: auto;
        &.position_right {
          position: absolute;
          right: -33px;
        }
        &.position_left {
          position: absolute;
          left: -33px;
        }
      }
      > ul.sub-menu {
        box-shadow: none;
        border: 0 none;
        display: none;
        padding: 35px 25px;
        li.menu-item {
          display: block;
          position: static;
          > a {
            background: none;
          }
        }
        a {
          margin-bottom: 10px;
        }
        > li {
          float: left;
          ul.sub-menu {
            box-shadow: none;
            border: 0 none;
            display: block !important;
            position: static;
            opacity: 1 !important;
            width: 100%;
            li {
              width: 100%;
            }
          }
          a[href] {
            &:hover {
              box-shadow: none;
              background: none;
              color: #ffcc00;
            }
          }
          a {
            color: $white;
            display: block;
            font-size: 1em;
            padding: 0;
            text-align: left;
            &:hover {
              box-shadow: none;
              background: none;
            }
          }
        }
      }
    }
  }
}
header nav {
  li.col-no-4 {
    position: static;
    > ul.sub-menu, ul.sub-menu.position_menu {
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
      ul.submenu li {
        padding-right: 0;
      }
    }
    @media only screen and (min-width: 1080px) {
      &.has-extended {
        > ul.sub-menu, ul.sub-menu.position_menu {
          width: 1055px;
        }
        ul {
          li {
            padding-right: 2%;
            width: 23%;
            &:nth-of-type(4n + 1 ) {
              clear: left;
            }
          }
        }
      }
    }
    @media only screen and (min-width: 940px) and (max-width: 1079px) {
      &.has-extended {
        > ul.sub-menu, ul.sub-menu.position_menu {
          width: 770px;
        }
        ul {
          li {
            padding-right: 2%;
            width: 31%;
            &:nth-of-type(3n + 1 ) {
              clear: left;
            }
          }
        }
      }
    }
    @media only screen and (min-width: 840px) and (max-width: 939px) {
      &.has-extended {
        position: relative;
        > ul.sub-menu, ul.sub-menu.position_menu {
          width: 520px;
        }
        ul {
          li {
            padding-right: 2%;
            width: 48%;
            &:nth-of-type(2n + 1 ) {
              clear: left;
            }
          }
        }
      }
    }
    @media only screen and (min-width: 741px) and (max-width: 839px) {
      &.has-extended {
        position: relative;
        > ul.sub-menu, ul.sub-menu.position_menu {
          width: 260px;
        }
        ul {
          li {
            clear: both;
            padding-right: 2%;
            width: 98%;
          }
        }
      }
    }
  }
}
header nav {
  li.col-no-3 {
    > ul.sub-menu {
      width: 770px;
    }
    @media only screen and (min-width: 1080px) {
      &.has-extended {
        > ul.sub-menu, ul.sub-menu.position_menu {
          width: 770px;
        }
        ul {
          li {
            padding-right: 2%;
            width: 31%;
            &:nth-of-type(3n + 1 ) {
              clear: left;
            }
          }
        }
      }
    }
    @media only screen and (min-width: 840px) and (max-width: 1079px) {
      &.has-extended {
        > ul.sub-menu, ul.sub-menu.position_menu {
          width: 520px;
        }
        ul {
          li {
            padding-right: 2%;
            width: 48%;
            &:nth-of-type(2n + 1 ) {
              clear: left;
            }
          }
        }
      }
    }
    @media only screen and (min-width: 741px) and (max-width: 839px) {
      &.has-extended {
        > ul.sub-menu, ul.sub-menu.position_menu {
          width: 260px;
        }
        ul {
          li {
            clear: both;
            padding-right: 2%;
            width: 98%;
          }
        }
      }
    }
  }
}
header {
  nav {
    li.col-no-2 {
      > ul.sub-menu {
        width: 520px;
      }
      @media only screen and (min-width: 768px) {
        &.has-extended {
          ul {
            li {
              padding-right: 2%;
              width: 48%;
              &:nth-of-type(2n + 1 ) {
                clear: left;
              }
            }
          }
        }
      }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        &.has-extended {
          > ul.sub-menu, ul.sub-menu.position_menu {
            width: 260px;
          }
          ul {
            li {
              clear: both;
              padding-right: 2%;
              width: 98%;
            }
          }
        }
      }
    }
  }
}
header nav {
  li.col-no-1 {
    ul.sub-menu {
      float: none;
      width: 260px;
      li {
        float: none;
        width: 90%;
      }
    }
  }
}
//header image stuff
header.hif {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
header.hic {
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  &:before {
    display: none;
  }
  #floating_menu & {
    padding: 0;
  }
  .tt-dmy {
    display: block;
    position: relative;
    z-index: 0;
  }
  #head_wrp {
    position: absolute;
    bottom: 8px;
    right: 0;
    left: 0;
  }
}
header {
  &.hif, &.hic {
    width: 100%;
  }
}
@each $color in $data-elements {
  .nsd.#{nth($color, 1)} {
    .fill-counter-inner {
      stroke: nth($color, 2);
    }
    .pbf {
      box-shadow: inset 0 2px 0 0 nth($color, 3);
      background: nth($color, 2);
    }
    &.nbc {
      .nbcnb, .nbcn, .nbcna {
        color: nth($color, 2);
      }
    }
    .cdtc {
      background: nth($color, 2);
      color: $white;
    }
    .cdm {
      color: nth($color, 2);
    }
    .cdtl {
      background: nth($color, 2);
      border-top: 1px solid nth($color, 3);
    }
  }
}
@each $color in $color-pallete {
  .drp1.#{nth($color, 1)} {
    &::first-letter {
      color: nth($color, 2);
    }
  }
  .drp2.#{nth($color, 1)} {
    &::first-letter {
      background: nth($color, 2);
    }
  }
}
.nsda {
  position: relative;
}
@keyframes fill-counter-svg {
  from {
    stroke-dasharray: 0 566;
  }
}
.fill-counter {
  .fill-counter-inner {
    display: table;
    margin: 20px auto;
    position: relative;
  }
  .fill-counter-circle {
    @include transform(rotate(-90deg));
    background: #f7f7f7;
    border-radius: 50%;
    height: 180px;
    stroke-dasharray: inherit;
    width: 180px;
    circle {
      @include transition(stroke-dasharray 2s linear);
      fill: none;
      stroke-width: 30;
      stroke-dasharray: 0 566;
    }
  }
}
.fill-counter.nsds .fill-counter-inner circle {
  animation: fill-counter-svg 2s linear;
  stroke-dasharray: inherit;
}
.fill-counter-text {
  border-radius: 50%;
  background: $white;
  color: #323232;
  height: 102px;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  padding-top: 50px;
  position: absolute;
  top: 14px;
  bottom: 14px;
  left: 14px;
  right: 14px;
  text-align: center;
  width: 152px;
}
.fill-counter-label {
  color: #323232;
  display: block;
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
}
.fill-counter.light {
  .fill-counter-text {
    color: #353535;
  }
}
.defhgh {
  background-color: $main_color;
}
.lhgh {
  color: $white !important;
}
.dhgh {
  color: $content_gray !important;
}
.shortcode_tabs {
  margin-bottom: 20px;
  &.horz_tabs {
    .scT {
      > ul.scT-tab {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          background-color: $main_color;
          border: 1px solid $main_color;
          border-bottom: none;
          cursor: pointer;
          float: left;
          margin-bottom: -1px !important;
          margin-left: 3px;
          text-align: center;
          a {
            color: #fffefe;
            font-weight: 700;
            font-size: $normalSize * .938;
            padding: 13px 25px 7px;
            text-transform: uppercase;
            text-decoration: none;
          }
          &.tS {
            border: 1px solid #dadada;
            border-bottom-color: $white;
            background-color: $white;
            a {
              color: #353535;
            }
          }
          &:not(.tS):hover {
            background: darken($main_color, 10%);
          }
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
    .scTC {
      border: 1px solid #dadada;
      display: none;
      padding: 25px;
    }
  }
  &.vert_tabs {
    .scT {
      > ul.scT-tab {
        list-style-type: none;
        margin-bottom: 0;
        padding: 0;
        li {
          border: 0;
          color: #353535;
          cursor: pointer;
          display: block;
          float: none;
          padding: 3%;
          &.tS {
            box-shadow: -2px 0 3px 0 $lightGray;
            background: $white;
            border: none;
            a {
              color: #353535;
            }
          }
          &:hover {
            cursor: pointer;
            &:not(.tS) a {
              cursor: pointer;
              color: $main-color;
            }
            a {
              cursor: pointer;
            }
          }
          a {
            color: #dadada;
            cursor: default;
            display: block;
            font-size: $normalSize * .941;
            text-decoration: none;
            padding: 3px;
          }
        }
      }
    }
    .scT {
      @include clearfix;
      width: 100%;
      > ul {
        display: block;
        float: left;
        position: relative;
        vertical-align: top;
        z-index: 1;
        width: 20%;
      }
    }
    .scTC {
      box-sizing: border-box;
      box-shadow: -3px 0 1px -2px $lightGray;
      border: none;
      display: block;
      float: left;
      margin-left: -1px;
      padding: 0 20px 60px 20px;
      position: relative;
      vertical-align: top;
      z-index: 0;
      width: 80%;
    }
  }
}
.divi {
  border-bottom: 1px solid #dadada;
  clear: both;
  display: block;
  margin-bottom: 10px;
  position: relative;
  &.sdivi {
    margin-left: -20px;
    margin-right: -20px;
  }
  &.ldivi {
    margin-left: 0;
    margin-right: auto;
    min-width: 315px;
    width: 32%;
    &:before {
      border-radius: 50%;
      border: 1px solid #cac5b5;
      background: #cac5b5;
      content: '';
      display: block;
      height: 5px;
      position: absolute;
      top: -3px;
      left: 0;
      width: 5px;
    }
  }
  &.cdivi {
    border-bottom: 4px solid #dadada;
    display: table;
    height: 4px;
    margin: 20px auto;
    min-width: 315px;
    width: 32%;
  }
  &.rdivi {
    margin-left: auto;
    margin-right: 0;
    min-width: 315px;
    width: 32%;
    &:after {
      border-radius: 50%;
      border: 1px solid #cac5b5;
      background: #cac5b5;
      content: '';
      display: block;
      height: 5px;
      position: absolute;
      top: -3px;
      right: 0;
      width: 5px;
    }
  }
}
.accs {
  margin-bottom: 20px;
  .accss {
    border-top: 1px solid #dadada;
    margin-bottom: 2px;
    padding: 5px 10px 0 10px;
    &:last-child {
      border-bottom: 1px solid #dadada;
    }
    &.opac {
      .acc-h {
        cursor: pointer;
        span {
          &:before {
            content: '\f147';
            display: inline-block;
            color: #353535;
            font-size: $normalSize * 1.500;
          }
        }
      }
      .accsi {
        display: block;
      }
    }
    .bSe & {
      h4 {
        font-weight: 700;
      }
    }
    .acc-h {
      cursor: pointer;
      color: #353535;
      font-size: $normalSize * .941;
      line-height: 29px;
      margin: 0;
      padding: 5px 5px 5px 30px;
      position: relative;
      &:hover {
        color: $main_color;
        span {
          &:before {
            color: $main_color;
          }
        }
      }
      span {
        display: block;
        height: 27px;
        margin: auto 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 28px;
        &:before {
          @include fontawesome();
          content: '\f196';
          color: #353535;
          display: inline-block;
          font-size: $normalSize * 1.500;
        }
      }
    }
    .accsi {
      display: none;
      p {
        margin: 10px 0 20px 30px;
      }
    }
  }
}
.drp1 {
  display: block;
  &::first-letter {
    display: block;
    font-size: 48px;
    float: left;
    line-height: 48px;
    margin-right: 5px;
    margin-top: 5px;
    text-transform: uppercase;
  }
}
.drp2 {
  display: block;
  &::first-letter {
    color: $white;
    display: block;
    font-size: 36px;
    line-height: 36px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 7px 6px 9px;
    text-transform: uppercase;
  }
}
.drp2.light {
  &::first-letter {
    color: #353535;
  }
}
.faq {
  .faqC {
    display: none;
    margin-bottom: 20px;
    padding: 10px 30px 1px 30px;
  }
  .bSe & {
    h4 {
      font-weight: 700;
    }
  }
  h4 {
    cursor: pointer;
    color: #353535;
    font-size: $normalSize * .938;
    margin: 0 0 2px 0;
    padding: 12px;
    &:hover {
      color: $white;
    }
    span {
      display: inline-block;
      height: 18px;
      margin-right: 10px;
      width: 10px;
      &:before {
        @include fontawesome();
        content: '\f0da';
        display: inline-block;
      }
    }
  }
}
.faqB.oFaq {
  &:hover {
    background: #f7f7f7;
    h4 {
      color: #353535;
    }
  }
  span {
    &:before {
      content: '\f0d7';
    }
  }
}
.faqB {
  &:hover {
    background: $main_color;
  }

}
.faqI {
  background: #f7f7f7;
  h4 {
    cursor: pointer;
  }
}
.nsd {
  margin: 20px 0;
  &.nsds {
    .pbf {
      @include animation-play-state(running);
    }
  }
  .pbf {
    @include animation-play-state(paused);
  }
}
.pbb {
  border-radius: 3px;
  background: #f7f7f7;
  display: block;
  height: 30px;
  margin: 7px 0;
  position: relative;
  overflow: hidden;
  .pbf {
    @include animation-duration(2s);
    @include animation-timing-function(linear);
    @include animation-name(progress-bar);
    height: 30px;
  }
}
.pbbl {
  color: #353535;
  display: block;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  padding-left: 30px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
  text-align: left;
}
.nsd.teal .pbf {
  box-shadow: 0 2px 0 0 #16a085 inset;
  background: #1abc9c;
}
.nsd.light .pbf {
  box-shadow: 0 2px 0 0 #cccccc inset;
  background: #dadada;
  .pbbl {
    color: #353535;
  }
}
.nsd.dark {
  .pbbl {
    color: $white;
  }
}
.pbfc {
  box-sizing: border-box;
  overflow: hidden;
}
.nsd {
  &.nsds {
    .fcf {
      @include animation-play-state(running);
    }
  }
  .fcf {
    @include animation-play-state(paused);
  }
}
.wp-caption-text {
  color: #353535;
  font-size: 13px;
  text-align: center;
  width: inherit;
}
.wp-caption, .wp-caption-text {
  max-width: 100%;
}
.wp-caption {
  img {
    box-sizing: border-box;
    display: block;
  }
  .wp-caption-text {
    font-style: italic;
    margin-bottom: 0px;
    padding-top: 10px;
  }
  &.circle-image {
    img {
      border-radius: 50%;
      display: table;
      margin: 0 auto;
      width: 50%;
    }
  }
  &.rounded-image {
    img {
      border-radius: 5px;
      display: table;
      margin: 0 auto;
    }
  }
  &.framed-image {
    box-shadow: 2px 0 4px 0 rgba($black, .10);
    border: 1px solid #dadada;
    background: $white;
    padding: 10px;
  }
  &.lifted-image {
    img {
      box-shadow: 2px 0 5px 0 rgba($black, .40);
      display: table;
      margin: 0 auto;
    }
  }
}
img {
  box-sizing: border-box;
  //  &.size-full {
  //    margin: 0;
  //  }
  &.circle-image {
    border-radius: 50%;
    display: table;
    margin: 0 auto;
    width: 50%;
  }
  &.rounded-image {
    border-radius: 9px;
  }
  &.framed-image {
    box-shadow: 2px 0 4px 0 rgba($black, .10);
    border: 1px solid #dadada;
    background: $white;
    display: table;
    margin: 0 auto;
    padding: 10px;
  }
  &.lifted-image {
    box-shadow: 2px 0 5px 0 rgba($black, .40);
    display: block;
  }
}
.wp-caption-text {
  color: #737373;
  font-size: 12px;
  text-align: center;
}
.wp-caption {
  max-width: 100%;
}
.nbc {
  position: relative;
  text-align: center;
  .nbcnb {
    font-weight: 400;
    font-size: 50px;
  }
  .nbcn {
    font-weight: 400;
    font-size: 50px;
  }
  .nbcna {
    font-weight: 400;
    font-size: 40px;
  }
  .nbcl {
    color: #323232;
    display: block;
    font-size: 15px;
    margin-top: 5px;
    padding: 0 20px;
  }
}
.fhd {
  display: table;
  margin: 20px 0;
  overflow: hidden;
  .fhdt {
    color: #353535;
    font-size: $normalSize * 1.875;
    margin: 0;
  }
  .fhdl {
    display: table-cell;
    vertical-align: middle;
    width: 20%;
    &:before {
      border-bottom: 1px solid #dadada;
      content: '';
      display: block;
      width: 100%;
    }
  }
  &.lfhd {
    .fhdl {
      width: 20%;
    }
    .fhdt {
      padding-right: 7px;
    }
  }
  &.rfhd {
    .fhdl {
      width: 20%;
    }
    .fhdt {
      padding-left: 7px;
    }
  }
  &.cfhd {
    margin: 20px auto;
    .fhdl {
      width: 20%;
    }
    .fhdt {
      padding: 0 7px;
    }
  }
}
.bp-t {
  //  display: -webkit-box;
  //  display: -moz-box;
  //  display: -ms-flexbox;
  //  display: -webkit-flex;
  //  display: flex;
  //  -ms-flex-direction: row;
  //  -ms-flex-align: center;
  //  -webkit-box-align: center;
  //  align-items: center;
  background: $white !important;
  height: 100%;
  min-height: 100%;
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: -.25em;
    vertical-align: middle;
  }
  .wrp {
    display: inline-block;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    p {
      margin-bottom: 20px;
    }
  }
  .out {
    margin-left: -2489px;
    margin-right: -10px;
    width: 6040px;
    .in.pddbg {
      width: auto;
    }
    .in {
      margin: 0 auto;
      .cck {
        margin: 0 auto;
        width: 1040px;
      }
    }
  }
}
@media only screen and (max-width: 1080px) {
  .bp-t {
    .out {
      width: 5880px;
      .in {
        height: 100% !important;
        .cck {
          width: 900px;
        }
      }
    }
  }
}
@media only screen and (max-width: 940px) {
  .bp-t {
    .out {
      width: 5680px;
      .in {
        .cck {
          width: 700px;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .bp-t {
    .out {
      width: 5485px;
      .in {
        .cck {
          width: 490px;
        }
      }
    }
  }
}
@media only screen and (max-width: 540px) {
  .bp-t {
    .out {
      width: 5300px;
      .in {
        .cck {
          width: 340px;
        }
      }
    }
  }
}
@media only screen and (max-width: 340px) {
  .bp-t {
    .out {
      width: 5250px;
      .in {
        .cck {
          width: 260px;
        }
      }
    }
  }
}
.wp-audio-shortcode {
  background: #353535 !important;
  height: 60px !important;
  margin-bottom: 30px;
  .mejs-controls {
    background: none !important;
    height: 60px !important;
    .mejs-time-rail {
      padding-top: 20px !important;
      .mejs-time-loaded {
        background: transparent !important;
      }
      .mejs-time-total {
        box-shadow: inset 0 2px 0 0 rgba(#000, .23);
        background: #1d1d1d !important;
        height: 14px !important;
      }
      .mejs-time-current {
        box-shadow: inset 0 2px 0 0 darken($main_color, 10%);
        background: $main-color;
        height: 14px !important;
      }
    }
    .mejs-time {
      padding: 25px 3px 0 13px !important;
    }
  }
  .mejs-horizontal-volume-slider {
    padding-top: 20px !important;
    > div {
      top: 23px !important;
    }
    .mejs-horizontal-volume-total {
      box-shadow: inset 0 2px 0 0 rgba(#000, .23);
      background: #1d1d1d !important;
      height: 14px !important;
    }
    .mejs-horizontal-volume-current {
      box-shadow: inset 0 2px 0 0 darken($main_color, 10%);
      background: $main-color !important;
      height: 14px !important;
    }
  }
  .mejs-mute, .mejs-unmute {
    button {
      margin: 22px 5px !important;
    }
  }
  .mejs-play {
    button {
      &:before {
        content: '\f04b';
        margin-left: 5px;
      }
    }
  }
  .mejs-pause {
    button {
      &:before {
        content: '\f04c';
      }
    }
  }
  .mejs-playpause-button {
    height: 42px !important;
    width: 42px !important;
    button {
      border-radius: 50%;
      border: 2px solid $white !important;
      background: none !important;
      height: 40px !important;
      margin: 10px 5px !important;
      text-align: center;
      width: 40px !important;
      &:hover {
        border-color: $main_color !important;
        &:before {
          color: $main_color;
        }
      }
      &:before {
        @include fontawesome();
        color: $white;
        display: block;
        font-size: 20px;
      }
    }
  }
}
.cnt {
  .awr {
    &.imp {
      .entry-title {
        margin-bottom: 0;
        position: relative;
        &:hover {
          &:before {
            color: $main_color;
          }
        }
        &:before {
          @include fontawesome();
          content: '\f18e';
          display: block;
          height: 40px;
          font-size: 43px;
          margin: auto 0;
          position: absolute;
          right: 0;
          top: -6px;
          bottom: 0;
        }
        a {
          display: block;
          position: relative;
        }
      }
    }
  }
}
/*post format */

#thrive-gallery-header {
  margin: -20px -20px 0 -20px;
}
.hui {
  @include cover-background();
  height: 100%;
  position: relative;
  width: 100%;
  .tt-dmy {
    display: block;
  }
}
.gallery {
  .hui {
    cursor: pointer;
    &:hover {
      &:after {
        content: '\f00e';
        color: $white;
        font-family: 'FontAwesome';
        font-size: 30px;
        height: 30px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 30px;
        z-index: 0;
      }
      &:before {
        background: rgba($black, .5);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index: 0;
      }
    }
  }
}
.gallery-clicker {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 3;
}
.gnav {
  margin: 0 auto;
  min-height: 61px;
  padding: 10px 0px 0px 0px;
  width: 80%;
  .gwrp {
    display: table;
    margin: 0 auto;
    position: relative;
    ul {
      list-style-type: none;
      li {
        margin-bottom: 0;
      }
    }
  }
  .gprev, .gnext {
    cursor: pointer;
    display: block;
    height: 32px;
    margin: auto 0;
    position: absolute;
    top: -12px;
    bottom: 0;
    text-align: center;
    text-decoration: none;
    width: 32px;
    &:before {
      font-weight: 700;
      color: #cacaca;
      display: block;
      font-size: 24px;
      line-height: 29px;
    }
  }
  .gprev {
    left: -30px;
    &:before {
      font-family: fontawesome;
      content: '\f104';
      margin-right: 5px;
    }
  }
  .gnext {
    right: -30px;
    &:before {
      font-family: fontawesome;
      content: '\f105';
      margin-left: 2px;
    }
  }
  ul {
    padding-left: 0px !important;
    li {
      display: inline-block;
      float: left;
      margin: 1px 10px 1px 0px;
      a {
        @include transition(opacity, 0.5s, ease-in-out);
        @include cover-background();
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        border: none;
        display: block;
        height: 60px;
        position: relative;
        width: 60px;
        &:hover {
          &:after {
            background: rgba($black, .5);
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            z-index: 0;
          }
          &:before {
            content: '+';
            color: #fff;
            display: block;
            font-size: 48px;
            font-weight: 100;
            font-family: 'Lato', Arial;
            height: 40px;
            position: absolute;
            top: 20%;
            text-align: center;
            vertical-align: middle;
            width: 60px;
            z-index: 1;
          }
        }
      }
      &:last-child {
        margin: 0;
      }
    }
  }
}
/*quote */
.ind-q {
  background: $white;
  padding: 40px 0px;
  .quo {
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    text-align: center;
    z-index: 10;
    width: 90%;
  }
  p {
    font-size: $normalSize * 1.125;
    font-style: italic;
    margin-top: 20px;
  }
  a {
    &:hover {
      color: $main_color;
    }
  }
  h5 {
    font-size: $normalSize * 2.25;
    font-style: italic;
    font-weight: 400;
  }
  &.ind-qi {
    @include cover-background();
    .quo {
      background: #424242;
      padding: 20px 40px;
      h5, p {
        color: $white;
      }
    }
  }
  &.ind-qd {
    h5, p {
      color: #424242;
    }
  }
  .crd {
    background: #424242;
    color: $white;
    display: table;
    font-style: italic;
    font-size: $normalSize * 1.125;
    margin: 25px auto 0;
    padding: 15px 40px;
    text-decoration: none;
    &:after {
      @include fontawesome();
      content: '\f178';
      font-style: normal;
      padding-left: 10px;
    }
  }
}
body .fullWidth .pvf .scvps.wistia-video-container {
  height: auto !important;
}
.pvf {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: -20px -20px 30px;
  .scvps {
    height: 100px;
    margin-top: -20px;
    padding: 150px 0;
    &.wistia-video-container {
      height: auto !important;
      padding: 0;
    }
    .fullWidth & {
      height: 350px !important;
    }
    .vdc {
      .ltx {
        .pvb {
          background: none;
          height: 50px;
          a {
            @include transform(translate(-50%, -50%));
            border-radius: 15px;
            background: $black;
            height: 50px;
            opacity: .8;
            position: absolute;
            top: 50%;
            left: 50%;
            text-decoration: none;
            width: 80px;
            &:before {
              @include fontawesome();
              content: '\f04b';
              color: $white;
              font-size: 25px;
              line-height: 50px;
              height: 50px;
              width: 80px;
            }
            &:hover {
              background: #cc181e;
              height: 50px;
              opacity: 1;
              width: 80px;
            }
          }
        }
      }
    }
  }
}
//setting cursor pointer for iphone clicks
.thrive-gallery-item,
.txt_thrive_link_to_comments,
.reply,
.cancel_reply,
.gallery-item a,
.gallery-holder a,
.gallery a.nav_prev,
.gallery a.nav_next,
.gallery .nav_close,
.gallery .galleryStage {
  cursor: pointer;
}
.wistia-video-container {
  .vdc {
    .ltx {
      display: none;
    }
    &.video-container {
      display: block !important;
      .vwr {
        box-shadow: none;
        position: static;
        iframe {
          box-shadow: none;
        }
      }
    }
  }
}
/*shortcodes*/
@import "_new_shortcodes.scss";
@import "_responsive.scss";

img.avatar-98 {
  width: 85%;
  max-width: none;
}
.supon {
  span {
    background-image: url("../images/templates/stumbleupon-badge.png") !important;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  header {
    .side_logo {
      #nav_right {
        vertical-align: middle;
        nav {
          ul {
            li {
              font-size: 11px;
              a {
                padding: 10px 10px 0 0;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-device-width: 380px) {
  .tvo-set2-template.tvo-testimonials-display-slider {
    margin-left: -20px;
  }
}
