@import "_mixins.scss";

//@include responsivebackground;
@media only screen and (max-width: 1280px) {
  .ssf {
    box-shadow: none;
    border: none;
    background: none;
    display: block !important;
    margin-top: 10px;
    position: static !important;
    width: auto;
    .cou, .scfm {
      float: left;
    }
    .scfm {
      .ss {
        float: left;
        margin-right: 10px;
      }
    }
    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
    .cou {
      margin-right: 10px;
    }
    &:before {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
  }
}

/*---------- Responsive - width 1080px  ----------*/
@media only screen and (max-width: 1080px) {
  .cnt .bSe.left .acm, .cnt .bSe.fullWidth .acm {
    left: -56px;
    right: auto;
  }
  .trg {
    border-width: 6px 6px 0 0;
    left: 56px;
  }
  .wrp {
    width: 900px;
  }
  @include setGalleryWidths(850px, fullWidth, 1, 7, true);
  @include setGalleryWidths(850px, tve_post_lp, 1, 7, true);
  @include setGalleryWidths(550px, bpd, 1, 7, true);
  @include setGalleryWidths(550px, bSeCont, 1, 6, true);
  .fullWidth, .bpd, .bSeCont {
    .gallery {
      .gallery-columns-8, .gallery-columns-9 {
        dl.gallery-item {
          width: 20% !important;
        }
      }
    }
  }
  .bSeCont {
    .gallery {
      .gallery-columns-7 {
        dl.gallery-item {
          width: 20% !important;
        }
      }
    }
  }
  .cnt .sAs {
    margin-left: 10px;
  }
  input#search-field {
    //  padding: 0 15px;
  }
  .follow_me .side_body ul li {
    a.sm {
      margin-right: 11px;
      width: 70px;
    }
  }
  .ftw .col {
    input#search-field {
      //  padding: 0 8px;
    }
  }
  .in {
    height: 100% !important;
  }
  .err {
    span {
      font-size: $normalSize * 8.75;
    }
    p {
      font-size: $normalSize * 1.5;
    }
  }
  .f5 {
    .frm {
      .input_for_2_fields {
        margin-right: 2%;
        width: 25%;
      }
      .input_for_1_fields {
        margin-left: 16%;
        width: 30%;
      }
      .submit_with_1_fields {
        margin-right: 16%;
        width: 28%;
      }
    }
  }

  .tab_widget_item {
    font-size: 12px;
    word-break: break-all;
  }
  .pulQ {
    &.left, &.right {
      div.left {
        max-width: 65%;
      }
    }
  }
  .no_content_msg {
    form {
      width: 70%;
    }
  }
  .scfm {
    .ss {
      &:first-child {
        margin-left: 15px;
      }
    }
  }
  .csc, .row {
    .foc {
      padding: 0% 2% 0% 0%;
      width: 49%;
      &:nth-child(2n) {
        padding: 0% 0% 0% 0%;
      }
    }
  }
  .scon {
    &.wide, &.wide.o1, &.wide.o2, &.wide.o3 {
      .frm {
        input[type="text"], .btn, .op-r {
          float: none;
        }
        .btn {
          width: 100%;
        }
        input[type="text"], .op-r {
          margin-bottom: 10px;
          width: 100%;
        }
      }
    }
  }
  .scvps .vdc {
    &.video-container {
      .wp-video, iframe {
        max-width: 900px !important;
      }
    }
  }
  h1 {
    font-size: 33px !important;
  }
  .mms {
    font-size: 70px !important;
  }
  .cnt {
    .bpd {
      padding: 2% 40px;
      .out {
        margin-left: -60px;
        margin-right: -60px;
        .in {
          padding: 3% 60px;
        }
      }
      .fwi {
        margin: 0 -60px;
      }
    }
  }
  .fhd {
    &.lfhd, &.rfhd, &.cfhd {
      .fhdl {
        width: 50px;
      }
    }
    .fhdt {
      white-space: normal;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .cnt .bSe.left .acm, .cnt .bSe.fullWidth .acm {
    left: auto;
    right: 0;
    .trg {
      border-width: 6px 0 0 6px;
      left: -6px;
    }
    + .entry-title {
      padding-right: 50px;
    }
  }

}

/*----------  Responsive - width 940px  ----------*/
@media only screen and (max-width: 940px) {
  .wrp {
    width: 700px;
  }
  @include setGalleryWidths(650px, fullWidth, 1, 7, true);
  @include setGalleryWidths(650px, tve_post_lp, 1, 7, true);
  @include setGalleryWidths(520px, bpd, 1, 6, true);
  @include setGalleryWidths(630px, bSeCont, 1, 6, true);
  .bpd {
    .gallery {
      .gallery-columns-6, .gallery-columns-7 {
        dl.gallery-item {
          width: 25% !important;
        }
      }
    }
  }
  .f2 {
    .left, .right {
      clear: both;
      width: 100%;
    }
    .left {
      margin-bottom: 10px;
      text-align: center;
    }
    .right {
      text-align: center;
    }
  }
  .f3, .f4 {
    .left {
      width: 59%;
    }
    .right {
      width: 40%;
    }
  }
  .f5 {
    .frm {
      .btn {
        input[type="submit"] {
          padding: 0.44em 0.3em;
        }
      }
      .input_for_1_fields {
        margin-left: 12%;
      }
    }
  }
  .bSeCont {
    display: table-header-group;
  }
  .sAsCont {
    display: table-footer-group;
  }
  .cnt .sAs.left, .cnt .sAs.right {
    float: none;
    margin: 25px 0 0 0;
    width: 700px;
  }
  .cnt .bSe.left, .cnt .bSe.right {
    float: none;
    width: 700px;
  }
  .sAs .oab, footer .oab {
    padding: 2% 10%;
  }
  .sAs .search_widget #search-field, footer .search_widget #search-field {
    //  width: 70%;
  }
  .ftw {
    section[id*='pages'] {
      ul ul {
        padding-left: 2%;
      }
    }
  }
  section[id*="pages"] {
    .scn ul ul {
      padding-left: 2%;
    }
  }
  .follow_me .side_body {
    padding: 5% 17%;
    ul li {
      a.sm {
        margin-right: 22%;
        width: 120px;
      }
    }
  }
  input#search-field {
    // padding: 0 6px;
  }
  .err {
    width: 80%;
    span, p {
      float: none;
      width: 100%;
    }
  }
  .ftw .colm {
    box-sizing: border-box;
    /*width: 40%; */
    margin-bottom: 40px;
  }
  .pulQ {
    div.left {
      border-left: none;
    }
    .quo {
      margin-bottom: 10px;
    }
  }
  .cnt {
    article {
      .cmb {
        ul, ol {
          padding-left: 0;
        }
      }
    }
  }

  .scvps {
    h2 {
      font-size: 50px;
    }
    h3, p {
      font-size: 20px;
    }
    .vdc {
      &.video-container {
        .wp-video, iframe {
          max-width: 700px !important;
        }
      }
    }
  }
  .sctm {
    width: 100%;
  }
  .scfm {
    margin: 0 auto;
  }
  .csc, .row {
    .thc {
      padding: 0%;
      width: 100%;
      &.lst {
        padding: 0%;
      }
    }
    .tth, .oth, .ofo, .tfo {
      padding: 0%;
      width: 100%;
      &.lst {
        padding: 0%;
        width: 100%;
      }
    }
    .ofo {
      padding: 0%;
      width: 100%;
    }
    .tfo, .tfo.lst {
      padding: 0%;
      width: 100%;
    }
    .fft {
      padding: 0%;
      width: 49%;
      &:first-child {
        padding: 0% 2% 0% 0%;
      }
      &.lst {
        padding: 0% 0% 0% 0%;
        width: 100%;
      }
    }
    .twc + .fft.lst {
      padding: 0%;
    }
    .fft + .twc.lst {
      width: 100%;
    }
    .fft + .twc {
      padding: 0%;
    }
  }
  .entry-title {
    text-align: center;
  }
  .afim.left, .afim.right {
    float: none;
    margin: 20px auto;
  }
  header {
    #logo {
      img {
        max-width: 200px !important;
      }
    }
  }
}

/*Easy Smooth Scroll Links hiding our menu fix*/
@media only screen and (min-width: 768px) {
  #nav_right {
    overflow: visible !important;
  }
}

/*responsive fix*/
@media only screen and (min-width: 0px) and (max-width: 768px) {
  .fullWidth .pvf .scvps {
    height: 100px !important;
  }
  .mf {
    nav {
      overflow-y: scroll;
    }
  }
  .html-hidden {
    height: 100%;
    overflow: hidden;
    body {
      overflow: hidden;
    }
  }
  header {
    position: relative;
    .mff & {
      &.hic {
        #head_wrp {
          display: block;
        }
      }
    }
    .dfm {
      text-align: center;
    }
    &.hif {
      height: 100% !important;
    }
    &.hic {
      display: block;
      #head_wrp {
        display: table;
        position: relative !important;
      }
    }
    nav {
      box-sizing: border-box;
      background: $white;
      clear: both;
      display: block;
      padding: 0;
      width: 100%;
      z-index: 101;
      > ul {
        > li {
          padding: 0;
        }
      }
      ul {
        display: block;
        *width: 90%;
        li {
          background: $white !important;
          display: block;
          float: none;
          a {
            box-sizing: border-box;
            border-bottom: 1px solid #dbdbdb !important;
            border-top: none !important;
            border-left: none !important;
            border-right: none !important;
            color: $main_color;
            display: block;
            padding: 10px;
            width: 100%;
            &:hover {
              box-shadow: none !important;
            }
          }
          ul {
            box-shadow: none;
            border: none;
            position: relative;
            left: 20px;
            top: 0;
            width: 95%;
            &:before {
              display: none;
            }
            li {
              border-top: none;
              &.arl {
                > a {
                  background-image: none;
                }
              }
              a {
                color: $main_color;
                padding: 10px;
                &:hover {
                  background: transparent;
                  color: $main_color;
                  padding-left: inherit;
                }
              }
              ul {
                left: 20px;
                top: 0;
                width: 95%;
              }
            }
          }
        }
      }
    }
    .hmn {
      cursor: pointer;
      clear: right;
      display: block;
      float: right;
      margin-top: 10px;
    }
    #nav_right {
      border-radius: 5px;
      border: 1px solid lighten($content_gray, 60%);
      background: $white;
      display: block;
      padding: 0;
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      overflow-y: scroll;
      z-index: 4;
      width: 100%;
    }
    .center_logo {
      #nav_right {
        display: block;
        nav.right {
          display: block;
        }
      }
    }
    #head_wrp {
      display: block;
    }
  }
  header {
    .phone {
      display: none !important;
    }
  }
  .phone_mobile, .widget .phone, .bSe .phone, .thrive-shortcode-html .phone {
    color: $white;
    display: block;
    margin: 0 auto;
    text-align: center;
    .phr {
      border-radius: 5px;
    }
    .fphr {
      display: none;
    }
    .mphr {
      display: block;
    }
  }
  .center_logo, .side_logo {
    nav.right {
      display: block;
    }
  }
  .center_logo {
    #text_logo {
      line-height: 32px;
    }
  }
  header {
    .side_logo, .center_logo {
      #logo, #text_logo {
        display: block;
        float: left;
      }
    }
    &.landing-header {
      .side_logo, .center_logo {
        #logo, #text_logo {
          display: inline-block;
          float: none;
        }
      }
    }
  }
  @each $color in $themeColors {
    .phone_mobile.#{nth($color, 1)} {
      .phr {
        @include linear-gradient(lighten(nth($color, 2), 10%) 0%, nth($color, 2) 100%);
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16), 0px 1px 0px 0px lighten(nth($color, 2), 20%) inset;
        border: 1px solid darken(nth($color, 2), 10%);
        &:hover {
          @include linear-gradient(nth($color, 2) 0%, lighten(nth($color, 2), 10%) 100%);
        }
      }
    }
    .widget, .bSe, .thrive-shortcode-html {
      .phone.#{nth($color, 1)} {
        .phr {
          @include linear-gradient(lighten(nth($color, 2), 10%) 0%, nth($color, 2) 100%);
          box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16), 0px 1px 0px 0px lighten(nth($color, 2), 20%) inset;
          border: 1px solid darken(nth($color, 2), 10%);
          &:hover {
            @include linear-gradient(nth($color, 2) 0%, lighten(nth($color, 2), 10%) 100%);
          }
        }
      }
    }
  }
}

/*----------  Responsive - width 740px  ----------*/
@media only screen and (max-width: 768px) {
  header .mhl {
    width: 100%;
  }
  .wrp {
    width: 490px;
  }
  @include setGalleryWidths(400px, fullWidth, 1, 4, true);
  @include setGalleryWidths(400px, tve_post_lp, 1, 4, true);
  @include setGalleryWidths(370px, bpd, 1, 4, true);
  @include setGalleryWidths(450px, bSeCont, 1, 4, true);
  .fullWidth, .bpd, .bSeCont {
    .gallery {
      .gallery-columns-5, .gallery-columns-6, .gallery-columns-7, .gallery-columns-8, .gallery-columns-9 {
        dl.gallery-item {
          width: 33.33% !important;
        }
      }
    }
  }
  .bSe footer {
    *height: 160px;
  }
  input#search-field {
    //  padding: 0 20px;
  }
  header {
    .right {
      float: none;
    }
    .clM {
      display: block;
      clear: both;
    }
  }
  .f2 {
    .wrp {
      padding: 0 20px;
    }
  }
  .f3, .f4, .f5 {
    text-align: center;
    ul {
      margin: 0 auto;
      text-align: left;
    }
    .wrp {
      box-sizing: border-box;
      padding: 0 20px;
    }
    .left, .right {
      width: 100%;
    }
    .left {
      margin-bottom: 10px;
    }
  }
  .f5 {
    width: 100%;
    .frm {
      padding-left: 0;
      input[type="text"], .op-r {
        float: none;
        margin: 0 auto 10px;
        width: 91%;
      }
      .btn {
        float: none;
        margin: 0 auto;
        width: 91%;
      }
    }
  }
  .cnt .sAs.left, .cnt .sAs.right {
    float: none;
    margin: 0;
    width: 490px;
  }
  .cnt .bSe.left, .cnt .bSe.right {
    float: none;
    width: 490px;
  }
  .ftw {
    .colm {
      margin-bottom: 40px;
      width: 100%;
    }
    .err {
      width: 80%;
      span {
        font-size: $normalSize * 6.25;
      }
      p {
        line-height: $normalSize * 1.5;
        margin-top: 0;
      }
      form {
        input[type='submit'] {
          font-size: $normalSize * .50;
        }
      }
    }
  }
  .lrp {
    input[type="text"] {
      width: 100%;
    }
  }
  .aut {
    div.left {
      width: 32%;
    }
  }
  .aut {
    div.right {
      width: 68%;
    }
  }
  .cmc {
    div.right {
      width: 74%;
    }
  }
  .bSe {
    .f5 {
      .frm {
        .submit_with_2_fields {
          width: 91%;
        }
        .input_for_1_fields {
          width: 90%;
        }
        .input_for_1_fields, .submit_with_1_fields {
          margin: 0 0 10px 0;
        }
      }
    }
  }
  .crp {
    margin-bottom: 20px;
  }
  header nav {
    display: none;
  }

  .sAs .search_widget #search-field, footer .search_widget #search-field {
    //  width: 80%;
  }
  .follow_me .side_body {
    padding: 8% 0 8% 8%;
    ul li a.sm {
      margin-right: 18%;
    }
  }
  .no_content_msg {
    form {
      width: 90%;
    }
  }
  .pdwbg {
    word-wrap: break-word;
  }
  .scvps .pvb {
    height: 180px;
    width: 250px;
  }
  .scvps {
    .vdc {
      &.video-container {
        .wp-video, iframe {
          max-width: 490px !important;
          min-width: 490px;
        }
      }
      &.lv, &.dv {
        .mejs-overlay-button {
          height: 170px;
          width: 170px;
          z-index: 100;
          &:hover {
            height: 180px;
            width: 180px;
          }
        }
        .pvb {
          background-size: 15%;
          a {
            height: 170px;
            width: 170px;
            &:hover {
              height: 180px;
              width: 180px;
            }
          }
        }
      }
      &.video-container {
        left: 0 !important;
        width: 100%;
        iframe {
          width: 100%;
        }
      }
    }
  }
  .scfm {
    .ss {
      a {
        width: 29%;
      }
      &:first-child {
        margin-left: 15px;
      }
      span {
        margin: 20px auto;
      }
    }
  }
  .scon.wide, .scon, .scon.wide.otit {
    width: 100%;
    .frm input[type="text"], .frm .btn, .op-r {
      width: 100%;
    }
  }
  .csc, .row {
    .colm {
      margin-right: 0 !important;
      padding: 0 !important;
      width: 100% !important;
    }
  }
  .bcs {
    max-width: 100%;
  }
  .gr {
    .gri {
      img {
        display: inline;
      }
    }
    .foc {
      margin-bottom: 10px;
      width: 44%;
      &.lst {
        margin-bottom: 0;
      }
    }
    .fic {
      margin-bottom: 10px;
      width: 48%;
      &.lst {
        margin-bottom: 0;
        width: 98%;
      }
    }
    .tfo {
      width: 48%;
    }
    .foc:nth-child(2) + .twc {
      width: 98%;
    }
    .foc:first-child + .twc {
      margin-bottom: 10px;
      width: 48%;
    }
    .twc + .foc.lst {
      width: 98%;
    }
    .twc + .foc + .lst {
      width: 98%;
    }
    .twc {
      width: 47%;
    }
  }
  header ul.menu {
    > li > a {
      color: #5a5a5a !important;
    }
    li.has-extended > ul.sub-menu > li > ul a {
      color: $main_color;
    }
  }
}

/*----------  Mobile Gallery - width 600px  ----------*/
@media only screen and (max-width: 660px) {

  .galleryOverlay {
    background: rgba(0, 0, 0, 0.95);
    .nav_prev, .nav_next {
      display: none;
      line-height: 0;
      font-size: 0;
      height: 0;
      overflow: hidden;
    }
    .nav_close {
      background: url('../images/sprite-web.png') no-repeat -11px -150px;
      bottom: 4px;
      top: auto;
      opacity: .6;
      right: 10px;
      z-index: 1004;
      &.nav_close_cnt {
        bottom: 4px;
        top: auto;
      }
      &:before {
        content: '';
      }
    }
    .g_count {
      border-top-left-radius: 9px;
      border-top-right-radius: 9px;
      background: $black;
    }
    .gl_ctrl {
      display: none;
      line-height: 0;
      font-size: 0;
      height: 0;
      overflow: hidden;
    }
    .gl_ctrl_wrp {
      background: none;
      float: left;
      .mob_text {
        float: right;
      }
      .img_count {
        float: left;
        margin-right: 5px;
      }
    }
    .g_count {
      border-radius: 0;
      display: block;
      padding: 0 20px;
      width: auto;
      .cap_txt {
        display: none;
      }
      .mob_text {
        display: inline-block;
        font-size: 14px;
      }
    }
  }
  .cnt {
    .bpd {
      padding: 2% 20px;
      .out {
        margin-left: -40px;
        margin-right: -40px;
        .in {
          padding: 3% 40px;
        }
      }
      .fwi {
        margin: 0 -40px;
      }
    }
  }
}

/*----------  Responsive - width 540px  ----------*/
@media only screen and (max-width: 540px) {
  .cnt section footer ul li {
    width: 100% !important;
  }
  .wrp {
    width: 340px;
  }
  .fullWidth, .bpd, .bSeCont {
    .gallery {
      dl.gallery-item {
        width: 100% !important;
        dt {
          a {
            height: 180px;
            width: 180px;
          }
        }
      }
    }
  }
  .cnt .colm {
    width: 100%;
  }
  header nav ul li ul {
    width: 92%;
    li {
      ul {
        width: 93%;
      }
    }
  }
  .err {
    button.sBn {
      font-size: $normalSize * .625;
    }
  }
  .ftw .colm {
    margin-top: 20px;
    margin-left: 0;
    max-width: auto;
    width: 100%;
    &:first-child {
      margin-top: 0;
    }
  }
  .cnt .sAs.left, .cnt .sAs.right {
    float: none;
    margin: 0;
    width: 340px;
  }
  .cnt .bSe.right, .cnt .bSe.left {
    float: none;
    width: 340px;
  }
  .ctb .cmt {
    display: none;
  }

  .nam {
    width: 110px;
  }
  .cmc {
    padding: 10px;
    font-size: 90%;
    line-height: 1.35em;
  }
  .pgn a {
    font-size: $normalSize * .7;
  }
  .bSe {
    .f5 {
      .frm {
        .input_for_1_fields {
          width: 85%;
        }
      }
    }
  }
  .crp {
    float: right !important;
    .rty {
      float: none;
    }
  }
  span.uDt {
    display: block;
  }
  .sAs .search_widget #search-field, footer .search_widget #search-field {
    //width: 70%;
  }
  .follow_me .side_body {
    ul li a.sm {
      margin-right: 23%;
    }
  }
  .no_content_msg {
    form {
      width: 100%;
      .search_field {
        width: 60%;
      }
    }
  }
  .pdwbg {
    word-wrap: break-word;
  }
  .scbg .bth tr td.ahsp {
    min-width: 80%;
  }
  .scfm {
    .ss {
      width: 27%;
    }

  }
  .scvps .vdc.video-container {
    width: 100%;
    .wp-video, iframe {
      height: 100%;
      max-width: 340px !important;
      min-width: 10px;
    }
  }
  .scvps .vwr {
    left: auto;
    width: 100%;
  }
  .aIm.pst.right {
    float: none;
    margin: 0 auto;
    img {
      margin: 0 auto;
    }
  }
  .ssf {
    .ss {
      margin-left: 0 !important;
      width: 46px;
    }
    .cou {
      margin-right: 0;
    }
  }
  .rve {
    padding-top: 0;
  }
  .side_logo {
    #logo {
      max-width: 100%;
      &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
      }
    }
  }
  .gr {
    .colm {
      &.twc, &.oth, &.tth, &.foc, &.fic, &.tfo {
        margin-bottom: 10px;
        width: 98% !important;
        &:last-child {
          margin-bottom: 0;
        }
        &.lst {
          width: 98%;
        }
        .gri {
          img {
            display: inline;
          }
        }
      }
    }
  }
  //reset heading font size
  h1 {
    font-size: 33px !important;
  }
  h2 {
    font-size: 30px !important;
  }
  h3 {
    font-size: 26px !important;
  }
  h4 {
    font-size: 22px !important;
  }
  h5 {
    font-size: 18px !important;
  }
  h6 {
    font-size: 14px !important;
  }
  .mms, .mmt {
    font-size: 33px !important;
  }
  .divi {
    &.cdivi {
      min-width: 277px;
    }
    &.rdivi {
      margin-left: 47%;
      min-width: 150px;
    }
    &.ldivi {
      min-width: 150px;
    }
  }
  .shortcode_tabs {
    .scT {
      > ul.scT-tab {
        li {
          float: none;
          margin-left: 0 !important;
          width: 100%;
        }
      }
    }
    &.vert_tabs {
      .scT > ul.scT-tab {
        width: 100%;
        li {
          float: left;
          padding: 5px;
          &.tS {
            box-shadow: 0 -1px 1px 0 #e6e6e6;
            border-top: 1px solid #e6e6e6;
            border-left: 1px solid #e6e6e6;
            border-right: 1px solid #e6e6e6;
          }
        }
      }
      .scTC {
        box-shadow: -3px -3px 1px -2px #e6e6e6;
        margin-left: 1px;
        padding: 10px 10px 60px;
        width: 100%;
      }
    }
    &.horz_tabs {
      .scT {
        > ul.scT-tab {
          li.tS {
            a {
              padding: 13px 5px;
            }
          }
        }
      }
    }
  }
  .mbi {
    .mbl {
      display: none;
    }
  }
  .split {
    .btn {
      span {
        padding: 15px 25px;
      }
    }
  }
}

/*----------  Responsive - width 340px  ----------*/
@media only screen and (max-width: 380px) {
  .wrp {
    width: 300px;
  }
  .cnt .sAs.right, .cnt .sAs.left {
    float: none;
    margin: 0;
    width: 300px;
  }
  .cnt .bSe.right, .cnt .bSe.left {
    float: none;
    width: 300px;
  }
  #search-button {
    width: 34px;
  }

  .f5 {
    width: 100%;
  }
  .aIm {
    max-width: 180px;
  }
  table {
    td, th {
      padding: 0px;
    }
  }
  .follow_me .side_body ul li {
    float: none;
    a.sm {
      width: 90%;
    }
  }
  footer {
    color: $white;
    background: #2a2a2c;
    margin-top: 50px;
    padding: 45px 0 20px 0;
  }
  .ftw {
    .col {
      margin-left: 0;
    }
    #search-field {
      // padding: 0px;
    }
  }
  .err {
    span {
      font-size: $normalSize * 5;
    }
    p {
      font-size: $normalSize;
    }
    form {
      input#search-field {
        background: none;
        padding-left: 10px;
      }
      button#search-big-button {
        background: url('../images/sprite-web.png') #7b7b7b -30px 5px;
        b {
          display: none;
        }
      }
    }
  }
  .aut {
    div.left {
      width: 40%;
    }
    div.right {
      width: 60%;
    }
  }
  .cmc {
    div.left {
      .clear {
        clear: none;
      }
      span {
        width: 39%;
      }
      ul {
        li {
          display: inline;
          float: left;
          a {
            color: $gray;
            margin-right: 30%;
          }
        }
      }
    }
  }
  .scvps .vdc.video-container {
    width: 100%;
    .wp-video, iframe {
      max-width: 300px !important;
      min-width: 300px;
    }
  }
  .galleryOverlay .g_count {
    padding: 0;
    .gl_ctrl_wrp {
      padding: 0 5px;
    }
  }
}

//for mobile menu
@media only screen and (max-width: 768px) {
  header {
    ul.menu {
      & > li > a {
        color: $main_color;
      }
    }
    .center_logo, .side_logo {
      #nav_right {
        display: none;
      }
    }
  }
  .has-free {
    display: none !important;
  }
  header nav {
    ul.sub-menu {
      display: block !important;
    }
    li.has-extended {
      > ul.sub-menu,
      > ul.sub-menu.position_menu {
        box-sizing: border-box;
        background: none;
        display: block !important;
        position: relative;
        padding: 0;
        width: 95%;
        left: 20px;
        li {
          clear: both;
          width: 95%;
          &:nth-child(2n+2) {
            padding-left: 0;
          }
        }
        div.fvsrx {
          display: none;
        }
        .colch {
          color: $main_color;
          margin-top: 15px;
          padding-bottom: 6px;
          &:before {
            display: none;
          }
          &:after {
            display: none;
          }
        }
      }
      a {
        line-height: 1.625em;
      }
    }
    ul {
      background: none !important;
      li {
        position: static;
        ul li ul {
          width: 93%;
        }
      }
    }
  }
  .cdt {
    .cdto {
      margin: 10px 10px 0 0;
    }
  }
}

//mobile menu fix for new header 'set height option'
@media only screen and (max-width: 768px) {
  header {
    .hmn {
      bottom: 0;
      float: none;
      margin: auto;
      position: absolute;
      right: 10px;
      top: 0;
    }
    #head_wrp {
      min-height: 30px;
    }
  }
}

//blog gallery in columns

@media only screen and (min-width: 1080px) {
  .fullWidth, .out, #tcb_landing_page {
    .scc {
      margin-right: 2%;
      width: 23.5%;
      &:nth-of-type(4n) {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (min-width: 940px) and (max-width: 1080px) {
  .fullWidth, .out, #tcb_landing_page {
    .scc {
      margin-right: 2%;
      width: 32%;
      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (min-width: 940px) {
  .bSeCont, .bpd {
    .scc {
      margin-right: 2%;
      width: 49%;
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 940px) {
  .fullWidth, .bpd, .bSeCont, .out, #tcb_landing_page {
    .scc {
      margin-right: 2%;
      width: 49%;
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .scc {
    float: none;
    height: 100% !important;
    margin: 10px auto;
    width: 67% !important;
  }
  .colm {
    .scc {
      float: none;
      margin: 10px auto;
      width: 67% !important;
      min-width: 210px;
      max-width: 302px;
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

//header stuff

@media only screen and (min-width: 940px) and (max-width: 1350px) {
  header {
    nav {
      li.has-extended.col-no-3 {
        position: static;
        > ul.sub-menu {
          margin: auto;
          left: 0;
          right: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 940px) and (min-width: 768px) {
  header {
    nav {
      li.has-extended, li.has-extended.col-no-4 {
        > ul.sub-menu {
          position: absolute;
          left: auto;
          right: 0;
          &.position_left {
            left: -33px;
            right: auto;
          }
          &.position_right {
            right: -33px;
            left: auto;
          }
        }
        &:first-of-type {
          > ul.sub-menu {
            &.position_left {
              left: 0;
              right: auto;
            }
          }
        }
      }
    }
  }
}

/*
  ipad 1+2
*/
@media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 1) {
  .pdwbg {
    background-attachment: scroll !important;
  }
}

/*
  ipad 3+ 4
*/
@media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) {
  .pdwbg {
    background-attachment: scroll !important;
  }
}

/*
  iphones
*/
@media screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2) {
  .pdwbg {
    background-attachment: scroll !important;
    background-size: auto auto !important;
    background-position: center top !important;
  }
}

@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
  .pdwbg {
    background-attachment: scroll !important;
    background-size: auto auto !important;
    background-position: center top !important;
  }
}

@media screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .pdwbg {
    background-attachment: scroll !important;
    background-size: auto auto !important;
    background-position: center top !important;
  }
}

@media only screen and (max-device-width: 640px),
only screen and (max-device-width: 667px),
only screen and (max-width: 480px) {
  .pdwbg {
    background-attachment: scroll !important;
    background-size: auto auto !important;
    background-position: center top !important;
  }
}

@media only screen and (min-width: 1080px) {
  .fullWidth, .b-tt {
    .v-cep {
      .scvps {
        .vdc.video-container {
          iframe {
            min-height: 515px;
            min-width: 900px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 940px) and (max-width: 1080px) {
  .fullWidth, .b-tt {
    .v-cep {
      .scvps {
        .vdc.video-container {
          iframe {
            min-height: 400px;
            min-width: 715px;
          }
        }
      }
    }
  }
  .bSeCont {
    .v-cep {
      .scvps {
        .vdc.video-container {
          iframe {
            max-width: 600px;
            min-width: 600px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 774px) and (max-width: 940px) {
  .fullWidth, .b-tt {
    .v-cep {
      .scvps {
        .vdc.video-container {
          iframe {
            height: 100%;
            min-height: 335px;
            min-width: 600px;
          }
        }
      }
    }
  }
  .bSeCont {
    .v-cep {
      .scvps {
        .vdc.video-container {
          iframe {
            height: 335px;
            min-width: 600px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 540px) and (max-width: 774px) {
  .fullWidth, .b-tt, .bpd {
    .v-cep {
      .scvps {
        .vdc.video-container {
          iframe {
            height: 200px;
            min-width: 340px;
            max-width: 340px;
          }
        }
      }
    }
  }
  .bSeCont {
    .v-cep {
      .scvps {
        .vdc.video-container {
          iframe {
            height: 200px;
            min-width: 340px;
            max-width: 340px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .bp-t {
    height: auto;
  }
  .bp-t::before {
    display: none;
  }
  .bp-t .wrp {
    display: block;
  }
}
